/*----------  Home page - Associate section  ----------*/

.associate {
    padding-top: 45px;
    padding-bottom: 45px;
    &__title {
        @include fluid-type(320px, 1360px, 26px, 48px);
        @include line-height(320px, 1360px, 30px, 55px);
        text-align: center;
        margin-bottom: 5rem;
    }
    // --------------associate item
    &__item {
        padding: 15px;
        margin-bottom: 2rem;
        border: 1px solid $border-color;
        display: inline-block;
        width: 100%;
        transition: all .3s ease-in-out;
        &:hover {
            border: 1px solid $main-color;
        }
    }
    // ---------------associate profile box
    &__profile {
        display: flex;
        align-items: flex-start;
        margin-bottom: 3.5rem;
        &--img {
            width: 15rem;
            margin-right: 2rem;
            position: relative;
        }
        .bg-image {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 1.5rem;
            right: 1.5rem;
            z-index: -1;
        }
        &--content {
            position: relative;
            display: flex;
            align-self: stretch;
            flex-direction: column;
            h3 {
                @include fluid-type(320px, 1360px, 16px, 20px);
                @include line-height(320px, 1360px, 19px, 25px);
                text-transform: uppercase;
                margin-bottom: 5px;
                font-family: $main-font;
            }
            p {
                @include fluid-type(320px, 1360px, 14px, 16px);
                @include line-height(320px, 1360px, 16px, 20px);
                color: $grey;
            }
            span {
                position: absolute;
                left: 0;
                bottom: 0;
            }
            .product-rating {
                margin-top: auto;
            }
        }
    }
    &__treatments {
        p strong,
        p {
            color: $dark;
            opacity: 0.6;
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 1.5rem;
            font-weight: 400;
        }
        li {
            color: $dark;
            list-style: none;
            position: relative;
            padding-left: 14px;
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 1.4rem;
            position: relative;
            &:last-of-type {
                margin-bottom: 0;
            }
            &:before {
                content: "";
                background-color: #35C3B2;
                width: 6px;
                height: 6px;
                border-radius: 1px;
                position: absolute;
                left: 0;
                top: 7px;
                display: inline-block;
            }
        }
    }
    &__btn {
        margin-top: 18px;
    }
    .btn {
        font-size: 14px;
        &:after {
            width: 2rem;
            height: 1.2rem;
            right: 2.5rem;
        }
    }
}


/* ==================== RESPONSIVE MOBILE FIRST ================== */


/*----------  Tablet  ----------*/

@media only screen and (min-width: $tablet) {
    .associate {
        // padding-top: 11rem;
        padding-top: 8rem;
        // padding-bottom: 11rem;
        padding-bottom: 6rem;
        &__item {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 3rem 8rem;
        }
        &__profile {
            flex: 50%;
            align-self: flex-start;
            margin-bottom: 0;
            &--img {
                width: 13rem;
                margin-right: 3rem;
            }
            &--content {
                padding-right: 10px;
            }
        }
        &__treatments {
            flex: 50%;
        }
        &__btn {
            flex: 50%;
            margin-left: 50%;
        }
    }
}


/* ======== LAPTOP ======= */

@media only screen and (min-width: 1100px) {
    .associate {
        &__profile {
            flex: 40%;
        }
        &__treatments {
            flex: 40%;
        }
        &__btn {
            flex: 20%;
            margin-left: 0;
            margin-top: 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }
}

@media only screen and (min-width: $desktop) {
    .associate {
        &__item {
            padding-bottom: 40px;
        }
    }
}