/*----------  Benefit slider  ----------*/

.benefit {
    padding: 40px;
    padding-bottom: 90px;
    position: relative;
    background-color: $background-orange;
    .h1,
    h1 {
        margin-bottom: 2px;
    }
    .h3,
    h3 {
        font-weight: 400;
    }
}

.benefit-box {
    background-color: #fff;
    padding: 33px 15px;
    margin-top: 15px;
    text-align: center;
    position: relative;
    .h6,
    h6 {
        margin-bottom: 1.7rem;
        font-weight: 600;
        text-transform: uppercase;
    }
    p {
        @include fluid-type(320px, 1360px, 12px, 14px);
        @include line-height(320px, 1360px, 20px, 25px);
    }
    .benefit-icon {
        width: 34px;
        position: absolute;
        top: -16px;
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
    }
}

.benefit-title {
    text-align: center;
    margin-bottom: 26px;
    .h2,
    h2 {
        margin-bottom: 2px;
    }
    .h3,
    h3 {
        color: $dark-opacity;
    }
}

.slick-benefit {
    li {
        &:before {
            display: none;
        }
    }
}


/*----------  Benefit slider - orange ----------*/

.benefit-orange {
    &:before {
        background-image: url('img/benefit-icon.svg');
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: 28rem;
    }
    u {
        &:before {
            display: none;
        }
        color:$secondary-color;
    }
    .benefit-icon {
        font-family: $title-font;
        @include fluid-type(320px,
        1360px,
        50px,
        65px);
        @include line-height(320px,
        1360px,
        42px,
        50px);
        font-weight: 700;
        color: white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $secondary-color;
    }
}


/*----------  Benefit slider - blog ----------*/

.benefit-blog {
    &.benefit {
        .benefit-title {
            .h2,
            h2 {
                @include fluid-type(320px,
                1360px,
                28px,
                48px);
                @include line-height(320px,
                1360px,
                34px,
                55px);
            }
        }
        margin-bottom: 2.4rem;
        .benefit-box {
            padding: 0;
            border: none;
        }
        .blog-card {
            margin-bottom: 0;
            border: none;
        }
        .benefit-title,
        .slick-benefit-wrap {
            width: 100%;
        }
    }
    .blog-card {
        h2 {
            @include fluid-type(320px,
            1360px,
            22px,
            30px);
            @include line-height(320px,
            1360px,
            26px,
            36px);
            margin-bottom: 2rem;
        }
    }
}


/* ==================== RESPONSIVE MOBILE FIRST ================== */


/*----------  Tablet  ----------*/

@media only screen and (min-width: $tablet) {
    /*----------  Benefit slider 768px ----------*/
    .benefit {
        padding-right: 0;
        padding-top: 11rem;
        padding-bottom: 12rem;
        margin-left: 5%;
        padding-right: 0;
        position: relative;
        background-color: transparent;
        &:before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 95%;
            height: 100%;
            background-color: $background-orange;
            top: 0;
            left: 0;
        }
        .benefit-title {
            text-align: left;
            padding-left: 4rem;
            padding-right: 4rem;
            width: 40%;
            float: left;
            position: relative;
            margin-top: 3rem;
        }
        .slick-benefit-wrap {
            position: relative;
            width: 60%;
            float: left;
        }
        .benefit-box {
            margin: 0 10px;
            text-align: left;
            padding: 30px;
            width: 38vw;
            height: 100%;
        }
        .benefit-icon {
            margin-bottom: 15px;
            width: 50px;
            height: 50px;
            position: relative;
            top: 0;
            right: 0;
            left: 0;
            transform: none;
        }
        .slick-prev,
        .slick-next {
            bottom: -7.8rem;
        }
        .slick-prev {
            left: 10px;
        }
        .slick-next {
            left: 110px;
        }
    }
    /*----------  Benefit slider - blog ----------*/
    .benefit-blog {
        padding-top: 11rem;
        padding-bottom: 16rem;
        background-color: transparent;
        .benefit-title {
            margin-top: 0;
            margin-bottom: 7rem;
        }
        .benefit-box {
            margin: 0 25px;
        }
        .slick-prev {
            left: 12px;
            left: 27px;
            bottom: -9rem;
        }
        .slick-next {
            left: 105px;
            left: 120px;
            bottom: -9rem;
        }
        &:before {
            background-position: top right;
        }
        &.benefit {
            .benefit-title {
                padding-left: 25px;
            }
            .benefit-box {
                width: 67vw;
            }
        }
        .blog-card {
            height: 100%;
            .blog-img {
                min-height: auto;
            }
            .blog-content {
                padding: 5rem;
            }
            .btn {
                margin-top: 2rem;
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    /*----------  Benefit ----------*/
    .benefit {
        padding: 13rem 0 13rem 6rem;
        .benefit-box {
            width: 26vw;
        }
        .benefit-title {
            width: 30%;
            padding-left: 0;
        }
        .h3,
        h3 {
            padding-right: 20px;
        }
        .slick-benefit-wrap {
            width: 70%;
        }
    }
    /*----------  Benefit slider - blog ----------*/
    .benefit-blog {
        padding-top: 11rem;
        padding-bottom: 16rem;
        .blog-card {
            .blog-img {
                width: 50%;
            }
            .blog-content {
                padding: 6rem 4rem 6rem 5rem;
            }
        }
    }
}

@media only screen and (min-width: 1440px) {
    /*----------  Benefit slider - blog ----------*/
    .benefit-blog {
        .blog-card {
            p {
                font-size: 16px;
            }
            .blog-date {
                font-size: 14px;
                line-height: 23px;
            }
        }
    }
}

@media only screen and (min-width: 1440px) {
    /*----------  Benefit slider ----------*/
    .benefit {
        margin-left: calc((100% - 1265px) / 2);
        &:before {
            width: 1265px;
        }
        .benefit-box {
            width: 350px;
        }
    }
}

@media only screen and (min-width: $xdesktop) {
    /*----------  Benefit slider ----------*/
    .benefit {
        .benefit-box {
            width: 330px;
        }
    }
    /*----------  Benefit slider - blog ----------*/
    .benefit-blog {
        .benefit-box {
            max-width: 970px;
        }
    }
}