/*----------  Button style  ----------*/

.btn {
    @include fluid-type( 320px, 1360px, 13px, 18px);
    @include line-height(320px, 1360px, 16px, 20px);
    display: inline-block;
    font-weight: 500;
    transition: all .3s ease-in-out;
    // white-space: nowrap;
    &:hover {
        opacity: .8;
        transition: all .3s ease-in-out;
    }
}

.btn-full {
    padding: 1.4rem 2rem;
    color: $white;
    text-align: center;
}

.btn-link {
    color: $main-color;
    @include fluid-type( 320px, 1360px, 13px, 14px);
    font-weight: 600;
    margin-top: 2rem;
    &.btn-link-arrow {
        padding-right: 3.5rem;
        position: relative;
        &:after {
            content: "";
            display: inline-block;
            background-image: url('img/btn-arrow-green.svg');
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            right: 1.7rem;
            top: 50%;
            bottom: 50%;
            transform: translateY(-50%);
            width: 14px;
            height: 9px;
            right: 0.7rem;
        }
    }
}

.btn-info {
    font-size: 10px;
    display: inline-block;
    margin-top: 4px;
}

.btn-green {
    background-color: $main-color;
}

.btn-orange {
    background-color: $secondary-color;
}

.btn-arrow {
    position: relative;
    padding-right: 6rem;
    &:after {
        content: "";
        display: inline-block;
        background-image: url('img/arrow.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 3rem;
        height: 2rem;
        position: absolute;
        right: 1.7rem;
        top: 50%;
        bottom: 50%;
        transform: translateY(-50%);
    }
}

.btn-arrow-small {
    width: 110px;
    padding-right: 2rem;
    &:after {
        width: 14px;
        height: 9px;
        right: 0.7rem;
    }
}

.btn-arrow-green {
    &:after {
        background-image: url(img/btn-arrow-green.svg);
    }
}

.btn-border {
    &:hover {
        background-color: $main-color;
        color: #fff;
        transition: all .3s ease-in-out;
    }
}