input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="search"],
input[type="time"],
input[type="url"],
input[type="time"],
input[type="date"],
textarea,
.gform_wrapper textarea,
select,
.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    border: 1px solid $border-color;
    @include fluid-type(320px, 1360px, 12px, 14px);
    line-height: 26px;
    color: $dark;
    margin-bottom: 3rem;
    padding: 1.4rem 2rem;
    -webkit-appearance: none;
    filter: none;
    width: 100%;
    &:focus {
        border-color: $main-color;
        transition: all .3s ease-in-out;
    }
}

.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    margin-bottom: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

label {
    color: $dark;
    font-weight: 500;
    @include fluid-type(320px, 1360px, 12px, 14px);
}

input[type="submit"] {
    cursor: pointer;
}

textarea {
    overflow: auto;
    height: 100px;
}

select {
    color: rgba(50, 50, 49, .5);
    @include fluid-type(320px, 1360px, 12px, 14px);
    height: 5.8rem;
    background-color: #fff;
}

option {
    color: rgba(50, 50, 49, .5);
    @include fluid-type(320px, 1360px, 12px, 14px);
}

::placeholder {
    @include fluid-type(320px, 1360px, 12px, 14px);
    color: rgba(50, 50, 49, .5);
}

:-ms-input-placeholder {
    @include fluid-type(320px, 1360px, 12px, 14px);
    color: rgba(50, 50, 49, .5);
}

::-ms-input-placeholder {
    @include fluid-type(320px, 1360px, 12px, 14px);
    color: rgba(50, 50, 49, .5);
}

.form-wrap {
    .currency {
        &:before {
            content: "";
            font-size: 16px;
            color: rgba(50, 50, 49, .5);
            display: inline-block;
            width: 30px;
            height: 30px;
        }
    }
    .gform_wrapper textarea {
        margin-top: 10px;
    }
    li {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        line-height: none;
    }
    input[type="text"],
    input[type="date"],
    input[type="datetime"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="tel"],
    input[type="search"],
    input[type="time"],
    input[type="url"],
    input[type="time"],
    input[type="date"],
    textarea,
    .gform_wrapper textarea,
    select,
    .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
        border: 1px solid $border-color;
        @include fluid-type(320px, 1360px, 12px, 14px);
        color: $dark;
        padding: 1.4rem 2rem;
        &:focus {
            border-color: $main-color;
            transition: all .3s ease-in-out;
        }
    }
    textarea {
        overflow: auto;
        height: 100px;
    }
    select {
        color: rgba(50, 50, 49, .5);
        @include fluid-type(320px, 1360px, 12px, 14px);
        height: 5.8rem;
        background-color: #fff;
    }
    body .gform_wrapper .gform_body .gform_fields .gfield .ginput_container_fileupload {
        border: 5px solid red;
    }
    option {
        color: rgba(50, 50, 49, .5);
        @include fluid-type(320px, 1360px, 12px, 14px);
    }
    /*----------  Style input submit  ----------*/
    .gform_wrapper .gform_footer input.button,
    .gform_wrapper .gform_footer input[type=submit],
    .gform_wrapper .gform_page_footer input.button,
    .gform_wrapper .gform_page_footer input[type=submit],
    input[type=submit] {
        @include fluid-type(320px, 1360px, 13px, 14px);
        background-color: $main-color;
        color: #fff;
        padding: 1.5rem 4rem;
        width: auto;
        border: none;
        border-radius: 0;
    }
    .gform_wrapper div.gform_body ul.gform_fields .section-form,
    .section-form {
        color: $main-color;
        @include fluid-type(320px, 1360px, 14px, 21px);
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 3rem;
    }
    .gform_wrapper div.gform_body ul.gform_fields li.gfield.gfield_html p {
        @include fluid-type(320px, 1360px, 14px, 16px);
        color: $dark-opacity;
        text-transform: none;
    }
    .gform_wrapper .top_label li.gfield.gf_left_half .ginput_container:not(.gfield_time_hour):not(.gfield_time_minute):not(.gfield_time_ampm):not(.ginput_container_date):not(.ginput_quantity):not(.datepicker):not(.gfield_signature_container),
    .gform_wrapper .top_label li.gfield.gf_right_half .ginput_container:not(.gfield_time_hour):not(.gfield_time_minute):not(.gfield_time_ampm):not(.ginput_container_date):not(.ginput_quantity):not(.datepicker):not(.gfield_signature_container) {
        margin: 0;
    }
    .gform_wrapper .top_label li.gfield.gf_left_half:before {
        height: 0;
    }
    .gform_wrapper ul li.gfield {
        margin-top: 1.8rem;
    }
    .gfield_consent_label,
    .consent {
        @include fluid-type(320px, 1360px, 10px, 12px);
        line-height: 20px;
        color: rgba(50, 50, 49, .5);
        a {
            color: $main-color;
        }
    }
    .gform_wrapper .gfield_description {
        color: rgba(50, 50, 49, .5);
        line-height: 12px;
    }
    /*----------  remove form title   ----------*/
    .gform_wrapper .gform_heading {
        display: none;
    }
    /*----------  Validation form   ----------*/
    .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description,
    .validation_message {
        font-size: 12px;
        color: #c00;
        border-color: #c00;
    }
    .gform_wrapper li.gfield.gfield_error,
    .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
        background: transparent;
        border: none;
        padding-top: 0;
        padding-bottom: 0;
    }
    .gform_wrapper .field_description_below .gfield_description,
    .validation_message,
    .gform_wrapper .validation_message {
        padding-top: 0px;
        font-size: 12px;
        font-weight: 500;
        padding-left: 8px;
        line-height: 20px;
    }
    .gform_wrapper div.validation_error {
        font-size: 12px;
        color: #c00;
        border-color: #c00;
    }
}

.gform_wrapper li.gfield_error input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
.gform_wrapper li.gfield_error textarea {
    border-color: #c00 !important;
}

.gform_confirmation_message {
    font-size: 14px;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.filter-counter {
    color: $dark;
}

.select-input {
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        border: none;
        @include fluid-type(320px, 1360px, 12px, 14px);
        color: rgba(50, 50, 49, .5);
        padding: 1.4rem 2rem;
        line-height: 24px;
        margin: 0;
    }
    .select2-container--default .select2-selection--single {
        border-color: $border-color;
    }
    .select2-container--default .select2-selection--single {
        height: 100%;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
        border: solid rgba(0, 0, 0, .3);
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 5px;
        transform: rotate(45deg) translateY(-50%);
        position: absolute;
        right: 2rem;
        top: calc(50% - 5px);
        bottom: 50%;
        opacity: 1;
        transition-delay: .3s;
        transition: all .3s ease-in-out;
    }
    .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
        transform: scaleY(-1) rotate(45deg) translateY(-50%);
        opacity: 1;
        transition-delay: .3s;
        transition: all .3s ease-in-out;
        border-width: 0 1px 1px 0;
        border-color: rgba(0, 0, 0, .3);
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 100%;
        width: 6rem;
    }
}

li.select2-results__option {
    @include fluid-type(320px, 1360px, 12px, 14px);
    line-height: 17px;
    padding: 7px;
    margin: 0;
}

.select2-dropdown {
    border-color: $border-color !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: $background-green;
}

.select-input .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: $dark;
}

.form-wrap {
    input[type="file"] {
        font-size: 12px;
    }
    input[type="file"]::-webkit-file-upload-button {
        visibility: hidden;
    }
    input[type="file"]::before {
        content: 'Upload file';
        display: inline-block;
        /* autoprefixer: off */
        background: linear-gradient(top, #f9f9f9, #e3e3e3);
        border: 1px solid $main-color;
        padding: 3px 8px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        font-size: 12px;
        color: rgba(50, 50, 49, .5);
    }
    input[type="file"]:hover::before {
        opacity: .8;
    }
    input[type="file"]:active::before {
        background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
    }
}

.form-wrap {
    .gform_wrapper ul.gform_fields li.gfield select {
        padding: 1.4rem 2rem;
    }
}

// multiselect style 
.form-wrap {
    .gform_wrapper {
        .chosen-container.chosen-container-multi ul.chosen-choices li.search-choice {
            display: inline-block;
            width: auto;
            margin-right: 7px;
        }
        .chosen-search-input {
            padding-left: 0 !important;
            color: rgba(50, 50, 49, .5) !important;
        }
        .chosen-container-multi {
            .chosen-results {
                padding-top: 1rem;
                padding-bottom: 1rem;
            }
            .chosen-choices {
                border: none;
                box-shadow: none;
                border-bottom: 1px solid $border-color;
                padding: 1.4rem 30px 1.4rem 2rem;
                background-image: none;
                &:before {
                    content: "";
                    border: solid rgba(0, 0, 0, .3);
                    border-width: 0 1px 1px 0;
                    display: inline-block;
                    padding: 5px;
                    transform: rotate(45deg) translateY(-50%);
                    position: absolute;
                    right: 2rem;
                    top: 20px;
                    opacity: 1;
                    transition-delay: .3s;
                    transition: all .3s ease-in-out;
                }
                .hosen-search-input {
                    color: rgba(50, 50, 49, .5) !important;
                    padding-left: 0;
                }
                li.search-choice {
                    border: none;
                    background-image: none;
                    background-color: transparent;
                    box-shadow: none;
                    color: $dark;
                    padding-left: 0;
                    span {
                        color: $dark;
                        @include fluid-type(320px, 1360px, 12px, 14px);
                    }
                    .search-choice-close {
                        top: 5px;
                    }
                }
            }
            .chosen-drop .result-selected {
                color: $dark !important;
            }
        }
        .chosen-container-active {
            .chosen-choices,
            .chosen-single {
                border: 1px solid $main-color;
                background-image: none;
                &:before {
                    top: 20px;
                    bottom: initial;
                    transform: scaleY(-1) rotate(45deg);
                    opacity: 1;
                    transition-delay: .3s;
                    transition: all .3s ease-in-out;
                }
            }
        }
        .chosen-container {
            .chosen-drop {
                border: 1px solid $main-color;
                border-top: 1px solid $border-color;
                box-shadow: none;
            }
            .chosen-results {
                padding: 0;
                li {
                    padding: 7px 7px 7px 2rem;
                    @include fluid-type(320px, 1360px, 12px, 14px);
                    color: rgba(50, 50, 49, .5);
                    &.highlighted {
                        background-color: $main-color;
                        background-image: none;
                        background-image: none;
                        color: #fff;
                    }
                }
            }
        }
        // Select single 
        .chosen-container-single .chosen-search input[type=text] {
            background-image: none !important;
            padding-left: 2rem !important;
        }
        .chosen-container-active.chosen-with-drop {
            .chosen-single {
                box-shadow: none;
                background-image: none;
                border-color: $main-color;
            }
        }
        .chosen-container-single {
            .chosen-single {
                height: 58px;
                border: none;
                background-image: none;
                background-color: #fff;
                padding: 1.4rem 30px 1.4rem 2rem;
                box-shadow: none;
                span {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    color: rgba(50, 50, 49, .5);
                    @include fluid-type(320px, 1360px, 12px, 14px);
                }
                .chosen-search {
                    input[type=text] {
                        padding-top: 10px;
                        padding-bottom: 10px;
                        border-color: $border-color;
                        background-image: none !important;
                    }
                }
                div b {
                    background-image: none;
                    position: relative;
                    &:before {
                        content: "";
                        border: solid rgba(0, 0, 0, .3);
                        border-width: 0 1px 1px 0;
                        display: inline-block;
                        padding: 5px;
                        transform: rotate(45deg) translateY(-50%);
                        position: absolute;
                        right: 2rem;
                        top: 20px;
                        opacity: 1;
                        transition-delay: .3s;
                        transition: all .3s ease-in-out;
                    }
                }
            }
        }
        .chosen-container-active {
            .chosen-single {
                div b {
                    background-image: none;
                    position: relative;
                    &:before {
                        top: 20px;
                        bottom: initial;
                        transform: scaleY(-1) rotate(45deg);
                        opacity: 1;
                        transition-delay: .3s;
                        transition: all .3s ease-in-out;
                    }
                }
            }
        }
    }
    .gform_wrapper .top_label .gfield_label,
    .gform_wrapper legend.gfield_label {
        display: none;
    }
}

.form-wrap .currency {
    position: relative;
    margin-bottom: 3rem;
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type=number] {
        -moz-appearance: textfield;
        margin-bottom: 0;
    }
    &:before {
        content: "€";
        display: inline-block;
        color: rgba(50, 50, 49, .5);
        font-size: 16px;
        position: absolute;
        right: 13px;
        top: 50%;
        bottom: 50%;
        transform: translateY(-50%);
        padding-left: 13px;
        border-left: 1px solid $border-color;
        width: 30px;
        height: 20px;
        padding-top: 4px;
    }
}

.gform_wrapper {
    .remove-search {
        .chosen-container-single .chosen-search {
            display: none;
        }
    }
}

// File upload 
.ginput_container_fileupload {
    position: relative;
    display: flex;
    input {
        position: absolute;
        z-index: 1;
        opacity: 0;
        left: 0;
        top: 0;
        height: 18px;
        cursor: pointer;
    }
    &:before {
        display: inline-block;
        color: $main-color;
        border: 1px solid $main-color;
        font-size: 12px;
        height: 28px;
        padding: 0 11px;
    }
    &:lang(en):before {
        content: "Choose file";
    }
    &:lang(de):before {
        content: "Datai wahlen";
    }
    .file-upload-name,
    .ginput_preview {
        font-size: 12px;
        margin-left: 5px;
        img {
            display: none;
        }
    }
}


/*----------  Checkbox style  ----------*/

input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
}

input[type=checkbox]::-ms-check {
    display: none;
}

input[type=checkbox] {
    position: relative;
    width: 13px;
    height: 13px;
    border: 1px solid rgba(50, 50, 49, 0.5);
    vertical-align: -2px;
}

input[type=checkbox]::before {
    content: "";
    position: absolute;
    font-size: 14px;
    right: 0;
    top: -0.3em;
    visibility: hidden;
}

input[type=checkbox]:checked {
    background-color: $main-color;
}

input[type=checkbox]:checked::before {
    visibility: visible;
}

.grecaptcha-badge {
    visibility: hidden;
}

@media only screen and (min-width: 640px) {
    .form-wrap .currency {
        width: 50%;
    }
}

@media only screen and (min-width: $tablet) {
    .form-wrap {
        .gform_wrapper ul.gform_fields li.gfield select {
            padding: 0;
        }
        ul.gform_fields li.gfield select {
            margin: 0 !important;
            padding: 0;
        }
    }
    .form-wrap {
        .gform_wrapper {
            .multiple-checkbox {
                .gfield_description {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (min-width: $tablet) {
    .form-wrap .gform_wrapper .chosen-container-multi .chosen-choices:before {
        top: 26px;
    }
}