/*----------   Gallery-team section  ----------*/

.gallery-team {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: repeat(4, 18%);
    grid-gap: 15px;
    &.section {
        padding-bottom: 0;
    }
    &__intro {
        grid-column: 1/3;
        grid-row: 1/3;
        padding-bottom: 10px;
        h2 {
            @include fluid-type(320px, 1360px, 26px, 48px);
            @include line-height(320px, 1360px, 30px, 55px);
        }
        p {
            @include line-height(320px, 1360px, 21px, 33px);
            margin-bottom: 3rem;
        }
        .btn {
            font-size: 14px;
            &:after {
                width: 2rem;
                height: 1.4rem;
                right: 2.5rem;
            }
        }
        i,em {
            font-style: normal;
            color: $secondary-color;
        }
    }
    &__item-1 {
        display: none;
    }
    &__item-2 {
        display: none;
    }
    &__item-3 {
        display: none;
    }
    &__item-4 {
        grid-column: 1;
        grid-row: 4;
    }
    &__item-5 {
        grid-column: 2;
        grid-row: 3/5;
    }
    &__item-6 {
        grid-column: 1;
        grid-row: 3;
    }
    &__item-7 {
        display: none;
    }
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ==================== RESPONSIVE MOBILE FIRST ================== */


/*----------  Tablet  ----------*/

@media only screen and (min-width: $tablet) {
    .gallery-item {
        overflow: hidden;
        img {
            transition: transform .5s ease;
        }
        &:hover {
            img {
                transform: scale(1.08);
                transition: transform .5s ease;
            }
        }
    }
    .gallery-team {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 27rem);
        grid-gap: 20px;
        padding-bottom: 4rem;
        &__intro {
            padding-bottom: 0;
            place-self: center;
            >div {
                max-width: 50rem;
            }
            p {
                margin-bottom: 4.5rem;
            }
        }
        &__item-1 {
            display: block;
            grid-column: 3/5;
            grid-row: 1;
        }
        &__item-2 {
            display: block;
            grid-column: 3;
            grid-row: 2;
        }
        &__item-3 {
            display: block;
            grid-column: 4;
            grid-row: 2;
        }
        &__item-4 {
            grid-column: 1;
            grid-row: 3;
        }
        &__item-5 {
            grid-column: 2;
            grid-row: 3/5;
        }
        &__item-6 {
            grid-column: 1;
            grid-row: 4;
        }
        &__item-7 {
            display: block;
            grid-column: 3/5;
            grid-row: 3/5;
        }
    }
}

@media only screen and (min-width: 1100px) {
    /*----------  Gallery-team ----------*/
    .gallery-team {
        padding-top: 13rem;
    }
}