/*----------   Home page - products - intro section  ----------*/

.products-intro {
    background-color: $background-grey;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: top left;
    &__title {
        margin-bottom: 5rem;
        text-align: center;
        h2 {
            @include fluid-type(320px, 1360px, 26px, 48px);
            @include line-height(320px, 1360px, 30px, 55px);
        }
        .btn {
            width: auto;
            padding-right: 3.5rem;
            color: $main-color;
            &:after {
                width: 2.4rem;
                height: 1.7rem;
                right: 0;
            }
        }
    }
    &__img {
        height: 40px;
        img {
            width: 140px;
        }
    }
    &__box {
        background-color: $white;
        padding: 5rem 3rem 3rem 3rem;
        margin-bottom: 3rem;
        display: inline-block;
        ~.products-intro__box {
            margin-bottom: 0;
        }
        p {
            margin-bottom: 3.5rem;
            font-size: 14px;
            line-height: 25px;
            color: $dark;
            opacity: 0.8;
        }
        .btn {
            font-size: 14px;
        }
    }
}


/* ==================== RESPONSIVE MOBILE FIRST ================== */


/*----------  Tablet  ----------*/

@media only screen and (min-width: $tablet) {
    .products-intro {
        display: flex;
        flex-wrap: wrap;
        &__title {
            width: 100%;
        }
        &__img {
            height: 45px;
            img {
                width: 160px;
            }
        }
        &__box {
            margin-bottom: 0;
            margin-right: 6%;
            width: 47%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            ~.products-intro__box {
                margin-right: 0;
            }
            .btn {
                margin-top: auto;
            }
        }
    }
}

@media only screen and (min-width: 1100px) {
    .products-intro {
        padding: 14rem 8rem 13rem 8rem;
        background-size: contain;
        justify-content: space-between;
        &__title {
            margin-bottom: 0;
            width: 28%;
            position: relative;
            text-align: left;
            h2 {
                margin-top: 30px;
            }
            .btn {
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
        &__box {
            margin-bottom: 0;
            margin-right: 0;
            width: 34%;
            ~.products-intro__box {
                margin-right: 0;
            }
        }
    }
}