.product-rating {
    margin-top: 3rem;
    white-space: nowrap;
    .star  {
        width: 17px;
        height: auto;
        color: #ccc;
        &.active { color: #f1936c; }
    }
}

.single-product-header,
.single-treatment-header {
    .product-rating {
        .star  {
            width: 23px;
        }
    }
}

/*----------  Tablet  ----------*/

@media only screen and (min-width: $tablet) {
    .single-product-header,
.single-treatment-header {
    .product-rating {
        .star  {
            width: 26px;
        }
    }
}
}
