/*----------  Testimonials  ----------*/

.review-stars ul {
    display: inline-block;
    list-style: none;
    background-color: #fff;
    border-radius: 5px;
    padding-left: 7px;
    padding-right: 7px;
    margin-top: 7px;
    li {
        float: left;
        margin: 0 2px;
        padding-left: 0;
        i {
            color: $secondary-color;
            font-size: 26px;
            &.inactive {
                color: #c6c6c6;
            }
        }
    }
}

.star:after {
    content: "\2605";
    font-style: normal;
}

.st0 {
    fill: #F1936C;
}

.cls-1 {
    fill: #fff;
}

.testimonials {
    background-color: $white;
    &.section {
        padding-bottom: 85px;
    }
    .slick-slide {
        opacity: .3;
    }
    .slick-current {
        opacity: 1;
    }
    .slick-track {
        display: flex !important;
    }
    .slick-slide {
        height: auto;
    }
    .slick-initialized .slick-slide {
        display: flex;
        flex-direction: column;
    }
    .btn-arrow:after {
        background-image: url(img/arrow-right-orange.png);
    }
}

.testimonial-title {
    text-align: center;
    margin-bottom: 6.5rem;
    .h2,
    h2 {
        margin-bottom: 1rem;
        @include fluid-type(320px, 1360px, 26px, 48px);
        @include line-height(320px, 1360px, 30px, 55px);
    }
    .btn {
        color: $secondary-color;
        text-align: center;
        width: auto;
        padding-right: 28px;
    }
}

.testimonial-img {
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ABABAB;
    @include cover();
    margin: 21px auto 10px;
}

.testimonial-content {
    padding: 8rem 3rem 3rem 3rem;
    margin: 0 10px 3.6rem;
    position: relative;
    flex: 1;
    border: 1px solid $main-color;
    border-radius: 5px;
    &:before {
        content: "";
        width: 18px;
        height: 18px;
        background: $white;
        border-bottom: 1px solid $main-color;
        border-right: 1px solid $main-color;
        position: absolute;
        bottom: -10px;
        left: 50%;
        right: 50%;
        transform: translateX(-50%) rotate(45deg);
    }
    blockquote {
        @include fluid-type(320px, 1360px, 14px, 15px);
        line-height: 20px;
        font-family: $main-font !important;
        padding: 0;
        margin: 0;
        position: relative;
        &.show-more {
            display: block;
        }
    }
    .quote {
        display: inline-block;
        width: 23px;
        height: 23px;
        position: absolute;
        font-size: 60px;
        top: 17px;
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
        font-family: $title-font;
        font-weight: 500;
        &:before {
            content: "";
            background-image: url('img/quote-icon.png');
            width: 23px;
            height: 23px;
            display: block;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

.onestar {
    li:not(:first-child) {
        i {
            color: $grey;
        }
    }
}

.twostar {
    li:nth-of-type(n+3) {
        i {
            color: $grey;
        }
    }
}

.threestar {
    li:nth-of-type(n+4) {
        i {
            color: $grey;
        }
    }
}

.fourstar {
    li:nth-of-type(n+5) {
        i {
            color: $grey;
        }
    }
}

.fivestar {
    li:nth-of-type(n+6) {
        i {
            color: $grey;
        }
    }
}

.testimonial-info {
    text-align: center;
    .h6,
    h6 {
        text-transform: uppercase;
        font-weight: 600;
        font-family: $main-font;
        @include fluid-type(320px,
        1360px,
        12px,
        14px);
        @include line-height(320px,
        1360px,
        14px,
        18px);
        line-height: 20px;
        margin-bottom: .2rem;
    }
    span {
        color: $dark-opacity;
        font-size: 12px;
        margin-top: 4px;
        display: inline-block;
    }
}

.testimonial-more {
    display: none;
    font-size: 12px;
    position: relative;
    margin-top: 13px;
    padding-right: 19px;
    color: $dark;
    .arrow-down {
        right: 0;
        display: inline-block;
        &:before,
        &:after {
            background-color: $dark;
            width: 8px;
            height: 1px;
            opacity: 1;
        }
        &:before {
            right: -4px;
        }
    }
}

.morecontent span {
    display: none;
}

.morelink {
    display: block;
    width: 100px;
}

.slick-current {
    .testimonial-content {
        background-color: $main-color;
        transition: all .3s ease-in-out;
        border-radius: 5px;
        position: relative;
        &:before {
            background: $main-color;
        }
        blockquote {
            color: #fff;
        }
    }
    .testimonial-img {
        border-color: $secondary-color;
    }
}


/* ==================== RESPONSIVE MOBILE FIRST ================== */


/*----------  Tablet  ----------*/

@media only screen and (min-width: $tablet) {
    /*----------  Testimonials 768px  ----------*/
    .testimonials {
        &.section {
            padding-bottom: 12rem;
        }
    }
    .testimonial-content {
        padding: 3rem 20px 3rem 50px;
        blockquote {
            text-align: left;
        }
        .quote {
            left: 29px;
            top: 3rem;
        }
    }
    .testimonial-img {
        width: 60px;
        height: 60px;
    }
    .slick-testimonials .slick-prev,
    .slick-testimonials .slick-next {
        height: auto;
        bottom: -45px;
    }
    .slick-testimonials .slick-next {
        right: calc(50% - 85px);
    }
    .slick-testimonials .slick-prev {
        left: calc(50% - 85px);
    }
}


/* ======== DESKTOP ======= */

@media only screen and (min-width: $desktop) {
    .testimonial-content {
        blockquote {
            &:before {
                left: -14px;
            }
        }
    }
}