.top-3 {
    background-color: $background-orange;
    padding: 30px;
    margin: 3rem -3rem;
    position: relative;
    z-index: 0;

    h2.top-3__title {
        @include fluid-type(320px, 1360px, 25px, 36px);
        @include line-height(320px, 1360px, 35px, 55px);
        font-family: $title-font;
        font-weight: 500;
        margin-top: 0;
        text-transform: initial;
    }

    &__item {
        background-color: #fff;
        border-radius: 5px;
        margin-bottom: 0.6rem;
        padding: 20px;
        position: relative;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 10px;
        max-width: 500px;
    }

    &__rating-number {
        font-size: 90px;
        line-height: 55px;
        font-family: $title-font;
        font-weight: 600;
        opacity: 0.2;
        color: $secondary-color;
        grid-column: 1;
        grid-row: 1;
    }

    &__img {
        margin-bottom: 1rem;
        grid-column: 2;
        grid-row: 1/3;

        &--wrap {
           max-width: 100px;
            img {
                margin-bottom: 0;
               
                width: 100%;
                max-width: 100%;
            }
        }
    }

    &__name,
    &__description,
    &__price {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }

    &__price {
        grid-column: 1;
        grid-row: 2;
        flex-direction: column;
        margin-bottom: 0;
    }

    &__name {
        grid-column: 1/3;
        grid-row: 3;
        padding-top: 2rem;
        border-top: 1px solid $border-color;
    }

    &__description {
        grid-column: 1/3;
        grid-row: 4;
    }

    &__price-number {
        @include fluid-type(320px, 1360px, 24px, 30px);
        @include line-height(320px, 1360px, 30px, 36px);
        font-weight: 600;
        margin-bottom: 0;
    }

    h4 {
        @include fluid-type(320px, 1360px, 12px, 14px);
        @include line-height(320px, 1360px, 14px, 16px);
        font-family: $main-font;
        text-transform: initial;
        font-weight: 500;
        margin-bottom: 0;
        margin-top: 0;
        width: 67%;
    }

    h3 {
        @include fluid-type(320px, 1360px, 14px, 16px);
        @include line-height(320px, 1360px, 18px, 20px);
        font-family: $main-font;
        margin-bottom: 0;
        margin-top: 0;
        width: 67%;

        a:not(.btn) {
            color: inherit;
            &:hover {
                color: $main-color;
                transition: all .3s ease-in-out;
            }
        }
    }

    &__small-caption {
        font-size: 12px;
        line-height: 19px;
        opacity: 0.6;
        display: block;

        width: 33%;
    }

    &__buttons {
        grid-column: 1/3;
        grid-row: 5;
        display: flex;

    }

    .btn {
        font-size: 14px;
        padding: 1.3rem 1.5rem;
        width: 50%;
    }

    .btn:not(.btn-full) {
        color: $main-color;
        padding: 1.5rem;
        text-align: center;
    }

    .product-rating {
        margin-top: 0;

        svg {
            width: 12px;
            height: 13px;
        }
    }
}

.single-blog-content {
    .top-3 {
        margin-left: -35px;
        margin-right: -35px;
    }
}

.single-treatment-container {
    .top-3 {
        margin-left: -30px;
        margin-right: -30px;
    }
}

/* ==================== RESPONSIVE MOBILE FIRST ================== */



/*----------  Tablet  ----------*/

@media only screen and (min-width: $tablet) {
    .single-treatment-container {
        .top-3 {
            margin-left: -20px;
            margin-right: -20px;
        }
    }

    .single-blog-content {
        .top-3 {
            margin-left: -13rem;
            margin-right: -13rem;
        }
    }

    .top-3 {
        margin-left: 0;
        margin-right: 0;
        padding: 6rem;

        &__item {
            grid-template-columns: 1fr 1fr;
            max-width: initial;
        }

        
    }
}


/* ==================== RESPONSIVE MOBILE FIRST ================== */
/*----------  Laptop  ----------*/

@media only screen and (min-width: $laptop) {
    .single-treatment-container {
        .top-3 {
            margin-left: -7rem;
            margin-right: -7rem;
        }
    }

    .top-3 {
        margin-left: 0;
        margin-right: 0;
        padding: 6rem;

        &__item {
            padding: 20px 20px 20px 40px;
            display: flex;
            justify-content: space-between;
        }

        &__rating-number {
            position: absolute;
            top: 40px;
            left: -30px;
            z-index: -1;
        }

        &__img {
            width: 10%;
            margin-bottom: 0;
        }

        &__name,
        &__description,
        &__price {
            display: block;
            margin-bottom: 0;
        }

        &__name {
            width: 26%;
            padding-top: 0;
            border-top: 0;
        }

        &__description {
            width: 20%;
        }

        &__price {
            width: 14%;
        }

        &__buttons {
            width: 18%;
            flex-direction: column;
        }

        &__small-caption {
            width: 100%;
            margin-bottom: 1.2rem;
        }

        h3,
        h4,
        &__price-number {
            width: 100%;
        }

        .btn {
            width: auto;
            padding: 1.3rem 0.4rem;

        }

        .btn:not(.btn-full) {
            padding: 1rem 0;
            margin-top: 1rem;
        }
        


        &__rating {
            margin-left: 0;
        }

        .product-rating {
            svg {
                width: 14px;
                height: 14px;
            }
        }
    }
}

@media only screen and (min-width: 1100px) {
    .top-3 {
        &__price {
            width: 12%;
        }
    }
}