/*-------- Treatments-table section - Desktop first --------*/

.table-wrapper {
    position: relative;
    overflow-x: auto;
}

.treatments-table {
    background-color: $background-grey;
    text-align: center;

    &__title {
        @include fluid-type(320px, 1360px, 24px, 48px);
        @include line-height(320px, 1360px, 30px, 55px);
        margin-bottom: 7rem;
    }

    table {
        width: 100%;
        text-align: left;
        margin-bottom: 0;

        .btn {
            font-size: 14px;
            min-width: 130px;
            white-space: nowrap;

            &:not(.btn-full) {
                color: $main-color;
            }
        }
    }

    thead {
        th {
            color: $grey;
            border-bottom: 1px solid rgba(151, 151, 151, 0.6);
            font-weight: normal;
            padding: 18px 22px 18px 0;
        }
    }

    tbody {

        th,
        td {
            border-bottom: 1px solid rgba(151, 151, 151, 0.3);
            color: $dark;
            padding: 9px 22px 9px 0;
            font-size: 14px;
            @include line-height(320px, 1360px, 18px, 20px);
        }

        th {
            text-transform: unset;
            padding: 9px 22px 9px 0;
            max-width: 420px;

            a {
                transition: color 0.3s ease-in-out;
                display: block;
                padding: 1rem 0;

                &:hover {
                    color: $main-color;
                }
            }
        }
    }

    td {
        &:first-of-type {
            white-space: nowrap;
        }

        &:last-of-type {
            text-align: right;
            padding-right: 0;
        }
    }

    .link-more {
        width: 12%;
        padding-right: 0;
        text-align: center;
    }

    .bigger-text {
        font-weight: 600;
        text-transform: uppercase;
        white-space: nowrap;
        @include fluid-type(320px, 1360px, 20px, 24px);

        span {
            font-size: 14px;
        }
    }

    .btn-arrow-green {
        color: $main-color;
        width: auto;
        padding-right: 3.5rem;
        margin-top: 8rem;

        &:after {
            width: 2.4rem;
            height: 1.5rem;
            right: 0;
        }
    }

    .product-rating {
        margin-right: 10px;
        margin-top: 0;

        .star {
            width: 15px;
            height: 15px;
        }
    }

    a.row-title:not(.btn) {
        color: inherit;
        &:hover {
            color: $main-color;
            transition: all .3s ease-in-out;
        }
    }
}

.treatments-table--custom {
    td {

        &:last-of-type {
            text-align: left;
        }
    }

    h2,h3,h4,h5,h6 {
        margin-top: 0;
        margin-bottom: 0;
    }
}

/*-------- Treatments-table - in blog page--------*/
.home {
    .treatments-table--blog {
        margin: 0;
    }
}

.treatments-table--blog {
    padding: 6rem;
    margin: 3rem 0;

    .treatments-table__title {
        text-align: left;
        @include fluid-type(320px, 1360px, 24px, 36px);
        @include line-height(320px, 1360px, 31px, 44px);
        font-family: $title-font;
        font-weight: 500;
        margin-bottom: 2rem;
        margin-top: 0;
        text-transform: initial;
    }
}

.single-blog-content {
    .treatments-table {
        margin-left: -13rem;
        margin-right: -13rem;
    }
}

.single-treatment-container {
    .treatments-table {
        margin-left: -7rem;
        margin-right: -7rem;
    }
}

.home {
    .treatments-table {
        .treatments-table__title {
            @include fluid-type(320px, 1360px, 28px, 48px);
            @include line-height(320px, 1360px, 34px, 55px);
            text-align: center;
            margin-bottom: 7rem;
            margin-top: 2rem;
        }
    }
}

/*---------- Treatments-table 990px ----------*/

@media only screen and (max-width: 990px) {
    .treatments-table {
        table {
            .btn {
                min-width: 110px;
            }
        }
    }
}


/*---------- Treatments-table 768px ----------*/

@media only screen and (max-width: 1024px) {
    .home {
        .treatments-table {
            .treatments-table__title {
                margin-bottom: 3rem;
                margin-top: 0;
            }
        }
    }

    .treatments-table {
        &.section {
            padding-top: 35px;
            padding-bottom: 35px;
        }

        &__title {
            margin-bottom: 24px;
        }

        table {
            width: max-content;
            margin-left: 30px;

            .btn {
                width: 100px;
                font-size: 12px;
            }
        }

        thead {
            th {
                &:first-of-type {
                    max-width: 200px;
                }
            }
        }

        tbody {
            th {
                max-width: 160px;
            }
        }

        td {
            &:last-of-type {
                padding-right: 30px;
            }
        }

        .link-more {
            width: auto;
            a{
                padding-right: 7px;
            }
        }

        .btn-arrow-green {
            margin-top: 24px;
        }

        .from-label {
            display: none;
        }
    }

    /* -------- Treatments-table - design for mobile -------- */
    .treatments-table--mobile {
        table {
            border-top: 1px solid rgba(151, 151, 151, 0.3);
            width: 100%;
            margin-left: 0;
        }

        thead {
            position: absolute;
            left: -9999px;
        }

        tbody,
        th,
        td {
            display: block;
            padding: 0;
        }

        tbody {
            tr {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-end;
                align-items: center;
                border-bottom: 1px solid rgba(151, 151, 151, 0.3);
            }

            th {
                width: 100%;
                padding: 8px 0 0 0;
                border-bottom: 0;
                max-width: unset;
            }

            td {
                padding-right: 0;
                border-bottom: 0;
            }
        }

        td {
            &:first-of-type {
                width: 100%;
                border-bottom: 0;
                padding: 5px 0 0 0;
            }

            &:last-of-type {
                flex: 1;
                margin-left: auto;
                padding-right: 0;
            }

            &:nth-of-type(2),
            &:nth-of-type(3),
            &:nth-of-type(4) {
                padding-bottom: 18px;
            }
        }

        td[data-title]:before {
            content: attr(data-title);
            display: block;
            color: $grey;
            font-size: 10px;
            line-height: 20px;
            font-weight: normal;
            text-transform: none;
            margin-bottom: 2px;
        }

        .link-more {
            flex: 1;
            text-align: right;
        }

        .bigger-text {
            &:nth-of-type(3) {
                padding-left: 24px;
                position: relative;

                &:after {
                    content: "";
                    height: 45px;
                    width: 1px;
                    background: $grey;
                    position: absolute;
                    left: 12px;
                    top: 8px;
                    opacity: 0.3;
                }
            }
        }
    }

    /* -------- Treatments-table - in blog -------- */
    .treatments-table--blog {
        padding: 30px;
        // margin-left: -3rem;
        // margin-right: -3rem;
    }
}

@media only screen and (max-width: 990px) {

    .single-treatment-container {
        .treatments-table {
            margin-left: -20px;
            margin-right: -20px;
        }
    }

    .table-wrapper {
        margin-left: -30px;
        margin-right: -30px;
    }
}

@media only screen and (max-width: 767px) {
    .single-blog-content {
        .treatments-table {
            margin-left: -35px;
            margin-right: -35px;
        }
    }

    .single-treatment-container {
        .treatments-table {
            margin-left: -30px;
            margin-right: -30px;
        }
    }

     /* -------- Treatments-table - in blog -------- */
     .treatments-table--blog {
        margin-left: -3rem;
        margin-right: -3rem;
    }
}