/*----------  Slick slider global  ----------*/

.slick-list {
    u {
        &:before {
            display: none;
        }
    }
}

.slick-testimonials,
.slick-effects,
.slick-benefit {
    .slick-prev,
    .slick-next {
        width: 70px;
        top: initial;
        bottom: -58px;
        transition: all .3s ease-in-out;
        &:before {
            content: "";
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            display: inline-block;
            width: 68px;
            height: 12px;
            opacity: 1;
        }
        &:hover {
            opacity: .8;
            transition: all .3s ease-in-out;
        }
    }
    .slick-prev {
        left: calc(50% - 80px);
        &:before {
            background-image: url('img/slider-arrow-left.png');
        }
    }
    .slick-next {
        right: calc(50% - 80px);
        &:before {
            background-image: url('img/slider-arrow-right.png');
        }
    }
}


/*----------  Slider effects  ----------*/

.effects {
    background-color: $background-grey;
    margin-bottom: 2.5rem;
    &.section {
        padding-bottom: 85px;
    }
    .effects-title {
        margin-bottom: 27px;
        @include fluid-type(320px,
        1360px,
        26px,
        48px);
        @include line-height(320px,
        1360px,
        30px,
        55px);
    }
    .effects-content {
        .h3,
        h3 {
            font-family: $main-font;
            margin-bottom: 10px;
            text-transform: uppercase;
        }
        p {
            @include line-height(320px,
            1360px,
            19px,
            33px);
            @include line-height(320px,
            1360px,
            24px,
            36px);
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        .h6,
        h6 {
            @include fluid-type(320px,
            1360px,
            12px,
            14px);
            @include line-height(320px,
            1360px,
            17px,
            22px);
            color: $dark;
            opacity: .5;
            font-weight: 400;
        }
        hr {
            border-color: rgba(216, 216, 216, .5);
            width: 100%;
            margin: 3rem 0;
            border-width: 1px;
        }
    }
    .slick-effects .slick-prev {
        left: calc(50% - 130px);
    }
    .slick-effects .slick-next {
        right: calc(50% - 130px);
    }
}

.slider-counter {
    position: absolute;
    bottom: -48px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    height: 20px;
    @include fluid-type(320px,
    1360px,
    12px,
    16px);
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    .separator {
        display: inline-block;
        margin: 0 1em;
    }
    .total-count {
        color: $dark-opacity;
    }
}


/* ==================== RESPONSIVE MOBILE FIRST ================== */


/*----------  Tablet  ----------*/

@media only screen and (min-width: $tablet) {
    /*----------  Slider effects 768px  ----------*/
    .effects {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &.section {
            padding-top: 12rem;
            padding-bottom: 5rem;
        }
        .effects-title {
            width: 50%;
            padding-right: 4rem;
            u {
                display: inline-block;
            }
        }
        .effects-content {
            .h3,
            h3 {
                margin-bottom: 2.4rem;
            }
        }
        .slick-effects {
            width: 50%;
            .slick-prev,
            .slick-next {
                bottom: initial;
                top: calc(100% - 160px);
            }
            .slick-prev {
                left: calc(-100% - 12px);
            }
            .slick-next {
                left: calc(-100% + 160px);
            }
        }
        .slider-counter {
            bottom: initial;
            top: calc(100% - 169px);
            left: calc(-100% + 109px);
        }
    }
}


/* ======== LAPTOP ======= */

@media only screen and (min-width: $laptop) {
    /*----------  Slider effect  ----------*/
    .effects {
        .slick-effects {
            .slick-next {
                left: calc(-100% + 260px);
            }
            .slick-prev {
                left: calc(-100% + 19px);
            }
            .slider-counter {
                left: calc(-100% + 177px);
            }
        }
    }
}