.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
    color: $dark;
    margin: 0 0 1rem 0;
}

.h1,
h1 {
    font-family: $title-font;
    @include fluid-type(320px, 1360px, 28px, 48px);
    @include line-height(320px, 1360px, 34px, 55px);
    font-weight: 500;
    margin: 0 0 4rem 0;
}

.h2,
h2 {
    font-family: $title-font;
    @include fluid-type(320px, 1360px, 24px, 36px);
    @include line-height(320px, 1360px, 31px, 44px);
    font-weight: 500;
    margin: 0 0 3rem 0;
}

.h3,
h3 {
    font-family: $title-font;
    @include fluid-type(320px, 1360px, 18px, 28px);
    @include line-height(320px, 1360px, 24px, 35px);
    font-weight: 600;
}

.h4,
h4 {
    font-family: $title-font;
    @include fluid-type(320px, 1360px, 16px, 24px);
    @include line-height(320px, 1360px, 25px, 30px);
}

.h5,
h5 {
    @include fluid-type(320px, 1360px, 16px, 21px);
    @include line-height(320px, 1360px, 24px, 31px);
    font-weight: 600;
    margin-bottom: 1.7rem;
}

.h5 {
    display: block;
    text-transform: uppercase;
}

.h6,
h6 {
    @include fluid-type(320px, 1360px, 16px, 18px);
    @include line-height(320px, 1360px, 20px, 31px);
    margin: 0 0 .4rem 0;
}

.p,
p {
    @include fluid-type(320px, 1360px, 14px, 18px);
    @include line-height(320px, 1360px, 21px, 33px);
    margin: 0 0 1rem 0;
    font-weight: 400;
    &:last-child {
        margin-bottom: 0;
    }
}

ul,
li {
    margin: 0;
    padding: 0;
}

ul li {
    @include fluid-type(320px, 1360px, 14px, 18px);
    @include line-height(320px, 1360px, 21px, 33px);
    color: $dark-opacity08;
    list-style: none;
    position: relative;
    padding-left: 20px;
    line-height: 22px;
    margin-bottom: 2rem;
}

table {
    border-collapse: collapse;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

td {
    @include fluid-type(320px, 1360px, 14px, 16px);
    border-bottom: 1px solid $border-color;
    padding: 14px;
}

th {
    @include fluid-type(320px, 1360px, 14px, 16px);
    padding: 14px;
    font-weight: 600;
    border-bottom: 1px solid $border-color;
    color: $main-color;
    text-transform: uppercase;
}

.wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
    background-color: $border-color;
}

.editor,
.single-blog-content {
    ul li {
        color: $dark;
        list-style: none;
        position: relative;
        padding-left: 20px;
        margin-bottom: 2rem;
        &:before {
            content: "\A";
            border: 1px solid #15BFAA;
            margin-right: 6px;
            background-color: #15bfaa;
            width: 8px;
            height: 8px;
            color: transparent;
            margin-left: -14px;
            top: -1px;
            position: relative;
            display: inline-block;
        }
    }
    ul {
        margin-bottom: 3.8rem;
    }
}

.extra-treatments-editor {
    ul li {
        &:before {
            border: 1px solid $secondary-color;
            background-color: $secondary-color;
        }
    }
}


ol {
    padding: 0;
    margin-bottom: 3.8rem;
    >li {
        margin-bottom: 2rem;
        list-style: none;
        position: relative;
        padding-left: 20px;
        @include fluid-type(320px, 1360px, 14px, 16px);
        @include line-height(320px, 1360px, 21px, 26px);
        &:before {
            counter-increment: section;
            content: counter(section) ".";
            @include fluid-type(320px, 1360px, 14px, 16px);
            font-weight: 600;
            position: absolute;
            top: 0;
            left: 1px;
        }
        strong {
            @include fluid-type(320px, 1360px, 14px, 18px);
            margin-bottom: 12px;
            // padding-left: 15px;
            display: inline-block;
        }
    }
}

.a,
a {
    cursor: pointer;
    color: inherit;
    font-size: inherit;
    text-decoration: none;
    &:hover,
    &:link,
    &:visited {
        text-decoration: none;
    }
}

u,
.underline {
    text-decoration: none;
    position: relative;
    z-index: 1;
    display: inline-block;
    &:before {
        content: "";
        width: 100%;
        height: 2px;
        background-color: $main-color;
        display: inline-block;
        position: absolute;
        bottom: 3px;
        right: 15px;
        left: 0;
        z-index: -1;
    }
}

hr {
    border: none;
    border-top: 2px solid rgba(53, 195, 178, .3);
    margin: 10px 0;
    width: 2rem;
    margin-left: auto;
    margin-right: auto;
}

mark {
    background-color: $main-color;
    padding: 1px 3px 2px;
    color: #fff;
}

address {
    @include fluid-type(320px, 1360px, 12px, 14px);
    line-height: 28px;
    font-style: normal;
    border: none;
    padding: 0;
    p {
        @include fluid-type(320px, 1360px, 12px, 14px);
        line-height: 28px;
        font-style: normal;
    }
}

.page-template-home .pagination .prev,
.page-template-home .pagination .next {
    color: #888;
}

.page-template-home .pagination .prev:hover,
.page-template-home .pagination .next:hover {
    color: #15BFAA;
}

#wp-admin-bar-wpfc-toolbar-parent-delete-cache-and-minified {
    display: none!important;
}


/* ======== TABLET ======= */

@media only screen and (min-width: $tablet) {
    ul {
        li {
            &:before {
                width: 8px;
                height: 8px;
            }
        }
    }
    ol {
        padding-left: 5rem;
        li {
            h6 {
                padding-left: 20px;
                margin-bottom: 2rem;
            }
        }
    }
    u,
    .underline {
        &:before {
            height: 3px;
        }
    }
}