$tablet: 768px;
$laptop: 990px;
$desktop: 1440px;
$xdesktop: 1600px;
$title-font: minion-pro-display,
serif;
$main-font: montserrat,
sans-serif;
$dark: #323231;
$dark-opacity: rgba(50, 50, 49, .6);
$dark-opacity08: rgba(50, 50, 49, .8);
$grey: #979797;
$white: #fff;
$main-color: #35C3B2;
$secondary-color: #F1936C;
$background-grey: #F3F3F3;
$background-orange: #F8E7DC;
$background-green: #ccf0ec;
$border-color: #F3F3F3;