 /* ==================== RESPONSIVE MOBILE FIRST ================== */
 /*----------  Tablet  ----------*/
 
 @media only screen and (min-width: $tablet) {
     body {
         padding-bottom: 0;
     }
     .site {
         overflow: unset;
     }
     .container {
         width: 90%;
         max-width: 1265px;
         padding-left: 0;
         padding-right: 0;
     }
     .section {
         padding: 9rem 8rem;
     }
     .section-title {
         margin-bottom: 7rem;
     }
     .section-btn {
         margin-top: 6rem;
     }
     /*----------  Header 768px  ----------*/
     .treatments-header {
         //  height: 65vh;
     }
     .home-header,
     .blog-header,
     .product-header,
     .single-treatment-header,
     .coupon-header,
     .treatments-header,
     .team-header {
         display: flex;
         flex-direction: row-reverse;
         align-items: center;
         min-height: 470px;
         .header-content {
             top: 0;
             width: 50%;
             height: 100%;
             background-color: initial;
             padding: 7rem 7rem 7rem 8rem;
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: flex-start;
             .btn {
                 position: relative;
                 margin-top: 3rem;
                 width: auto;
             }
         }
         .header-image {
             width: 50%;
             margin-left: 0;
             margin-right: 0;
             margin-top: auto;
         }
         .header-footer {
             span {
                 padding-top: 25px;
                 padding-bottom: 25px;
             }
         }
     }
     .blog-header {
         align-items: stretch;
         background-color: $background-grey;
         height: 55vh;
         .header-content {
             width: 60%;
         }
         .header-image {
             width: 40%;
             min-height: 100%;
             height: auto;
         }
     }
     .home-header {
         background-color: $background-orange;
         .header-image {
             background-color: initial;
             padding: 0;
             height: auto;
             img {
                 width: auto;
                 margin-left: auto;
                 margin-right: auto;
                 //  width: 407px;
                 width: 560px;
             }
         }
     }
     .product-header {
         padding-bottom: 61px;
         .header-image {
             display: flex;
             justify-content: flex-end;
             align-items: flex-end;
             padding: 0;
             background-color: initial;
             img {
                 width: 75%;
                 margin-left: auto;
                 margin-right: auto;
             }
         }
         .header-content {
             margin-left: 0;
             margin-right: 0;
             padding-right: 3rem;
         }
         .product-icon {
             display: none;
         }
     }
     .single-treatment-header {
         align-items: center;
         .card-icon {
             display: none;
         }
         .header-content {
             width: 61%;
             .btn {
                 margin-top: 4.5rem;
             }
         }
         .header-image {
             width: 39%;
             display: flex;
             justify-content: flex-end;
             align-items: flex-end;
             height: 100%;
             padding-top: 4.5rem;
             height: 580px;
             img {
                 max-height: 100%;
                 width: auto;
                 height: auto;
                 margin-left: auto;
                 margin-right: auto;
             }
         }
     }
     .coupon-header {
         min-height: 40vh;
         .header-content {
             width: 70%;
             p {
                 display: block;
             }
         }
         .header-image {
             width: 30%;
         }
     }

     .coupon-flexible-section {
         .flexible-content-wrap {
            padding-top: 9rem;
            padding-bottom: 9rem;
        }
     }
     .treatments-header {
         .header-image {
             display: flex;
             align-items: flex-end;
             justify-content: center;
             padding-bottom: 5rem;
             img {
                 width: auto;
             }
         }
         .h3,
         h3 {
             margin-bottom: 4.2rem;
         }
         .header-content {
             padding-bottom: 100px;
         }
         .treatments-icon {
             display: none;
         }
     }
     .single-product-header {
         display: flex;
         flex-direction: column;
         justify-content: center;
         position: relative;
         padding: 9rem 8rem;
         min-height: 50vh;
         max-height: 100%;
         padding-right: 40%;
     }
     .product-template-default {
         &.single-product {
             .woo-single-product {
                 .label {
                     color: #fff;
                     font-size: 18px
                 }
                 .loading-icon {
                     i {
                         color: #fff;
                     }
                 }
                 &.loading,
                 &.added {
                     .label {
                         opacity: 0
                     }
                 }
             }
         }
     }
     .single-product-image {
         width: 40%;
         padding-right: 5rem;
         position: absolute;
         //  z-index: 1;
         right: 0;
         top: 50%;
         bottom: 50%;
         transform: translateY(-50%);
         height: 100%;
         display: flex;
         align-items: center;
     }
     .single-product-title {
         .h1,
         h1 {
             margin-bottom: 3.4rem;
         }
     }
     .single-product-content {
         display: inline-block;
         .single-product-image {
             width: 40%;
         }
     }
     .single-product-content {
         .single-product-price {
             display: block;
         }
     }
     .single-product-price {
         padding-left: 0;
         margin-left: 0;
         .h6,
         h6 {
             strong {
                 display: inline;
                 margin-left: 4px;
                 font-size: 36px;
             }
             .currency {
                 font-size: 21px;
                 margin-left: 2px;
             }
         }
     }
     .single-product-content {
         .single-product-price {
             .wpd-custom-field .fa-star {
                 font-size: 22px;
             }
         }
     }
     .single-product-btn {
         .cart {
             justify-content: flex-start;
         }
         .btn {
             width: auto;
         }
     }
     .team-header {
         padding-top: 0;
         padding-bottom: 0;
         align-items: center;
         background-color: $background-green;
         .header-content {
             border: none;
         }
         .header-image {
             background-color: transparent;
             img {
                 width: 90%;
                 margin: 0 auto 0 0;
             }
         }
     }
     .header-promo-wrap {
         margin-top: auto;
     }
     .header-promo,
     .header-promo-single {
         align-items: stretch;
         flex-wrap: wrap;
         padding-top: 9rem;
         .header-content {
             padding-bottom: 0;
             height: auto;
             flex-wrap: wrap;
         }
         .header-promo-banner,
         .header-promo-single-banner {
             margin-top: 3.5rem;
         }
         .header-image {
             img {
                 z-index: 1;
             }
         }
     }
     .header-promo-single {
         padding-bottom: 0;
     }
     /*----------  Banner 768px  ----------*/
     .banner {
         display: flex;
         flex-direction: row;
         .banner-content {
             width: 75%;
             padding: 75px 180px 75px 75px;
             clip-path: polygon(0 0, calc(100% - 260px) 0%, 100% 100%, 0% 100%);
             .banner-content-inner {
                 margin-left: 0;
             }
         }
         .banner-content-shape {
             left: 0;
             right: initial;
             top: 0;
         }
         .banner-image {
             width: 25%;
             position: relative;
             &:after {
                 content: "";
                 background-color: $background-green;
                 display: inline-block;
                 clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
                 position: absolute;
                 left: -265px;
                 top: 0;
                 width: 265px;
                 height: 100%;
             }
             .banner-main-image {
                 position: relative;
                 left: -90px;
                 display: flex;
                 flex-direction: column;
                 justify-content: flex-end;
             }
             .banner-shape-left,
             .banner-shape-right {
                 width: auto;
             }
             .banner-shape-right {
                 right: -133px;
                 bottom: -63px;
             }
         }
     }
     /*----------  Cta 768px  ----------*/
     .cta {
         text-align: left;
         display: flex;
         flex-direction: row;
         align-items: flex-start;
         justify-content: space-between;
         padding-left: 8rem;
         padding-right: 8rem;
         margin-bottom: 25px;
         width: 100%;
         .h2,
         h2 {
             margin-bottom: 5px;
         }
         p {
             margin-top: 0;
         }
         &-content {
             max-width: 75%;
         }
     }
     .cta-rate {
         align-items: center;
         &.section {
             padding-top: 6.5rem;
             padding-bottom: 6.5rem;
         }
     }
     .page-template-default {
         .cta {
             width: 90%;
         }
     }
     /*----------  Number counter  ----------*/
     .number-counter {
         position: initial;
         &.section {
             padding-top: 10rem;
             padding-bottom: 10rem;
         }
     }
     /*----------  Card 768px  ----------*/
     .card.toggle {
         padding: 3.5rem 5rem 145px;
         .toggle-content {
             padding-bottom: 0;
         }
     }
     .card {
         padding: 3.5rem 5rem 145px;
     }
     .card-product {
         padding: 3.5rem 5rem 95px;
     }
     .card,
     .card-product {
         border-color: transparent;
         margin-bottom: 3.5rem;
         height: auto;
         &:last-child {
             margin-bottom: 3.5rem;
         }
         &:hover {
             border-color: $main-color;
             transition: all .3s ease-in-out;
         }
         .btn-border {
             background-color: #fff;
             border: 1px solid $main-color;
             color: $main-color;
         }
     }
     .card {
         .product-rating {
             bottom: 50px;
         }
     }
     .card-product-title {
         min-height: 95px;
     }
     .card-product-price {
         .h3,
         h3 {
             font-size: 28px;
         }
     }
     .card-icon {
         width: 70px;
         height: 70px;
     }
     .column-3 {
         flex-direction: row;
         flex-wrap: wrap;
         align-items: stretch;
         .card,
         .card-product {
             width: 50%;
         }
     }
     .card-footer {
         padding: 0 5rem;
         bottom: 3.2rem;
         .btn-border {
             padding: 13px 20px;
         }
         .btn-link.btn-arrow {
             padding-right: 30px;
         }
     }
     .toggle {
         .toggle-content {
             display: block;
         }
         .arrow-down {
             display: none;
         }
         .card-icon {
             display: block;
         }
     }
     /*----------  Card product 768px ----------*/
     .product-list {
         margin-top: 7.5rem;
         align-items: stretch;
     }
     .card-product {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         .card-footer {
             padding-top: 20px;
             border-top: 0;
         }
     }
     .card-product-content {
         border-bottom: 1px solid $border-color;
         height: 200px;
     }
     /*----------  Footer 768px  ----------*/
     .footer {
         padding-left: 8rem;
         padding-right: 8rem;
     }
     .footer-top {
         display: flex;
         justify-content: space-between;
         align-items: flex-start;
     }
     .footer-title {
         text-align: left;
     }
     .footer-contact {
         display: flex;
         padding: 2rem;
         li {
             &:nth-of-type(1) {
                 border-bottom: none;
                 border-right: 1px solid rgba(50, 50, 49, .2);
                 padding: 0 3rem 0 0;
                 margin: 0 3rem 0 0;
             }
             &:nth-of-type(2) {
                 padding-left: 0;
             }
         }
         span {
             display: block;
         }
     }
     .footer-bottom {
         flex-wrap: nowrap;
         margin-top: 5rem;
         >li {
             width: 25%;
             padding: 0;
         }
         strong {
             font-size: 18px;
         }
         a,
         strong {
             padding: 4px 0;
         }
         .footer-logo {
             width: 45%;
             order: initial;
         }
     }
     /*----------  Treatments 768px ----------*/
     .treatments {
         .btn-border {
             border: 1px solid $main-color;
             background-color: #fff;
             color: $main-color;
             &:hover {
                 background-color: $main-color;
                 color: #fff;
                 transition: all .3s ease-in-out;
             }
         }
         .card {
             .h5,
             h5,
             .h3,
             h3 {
                 margin-top: 23px;
             }
         }
     }
     .treatments-page {
         margin-top: 7.7rem;
     }
     .card-rating {
         padding-bottom: 130px;
     }
     .single-treatment-content {
         img[src*='icon'] {
             width: 70px;
             height: 70px;
             margin-top: 4rem;
             margin-bottom: 0;
         }
         .h2,
         h2 {
             margin-bottom: 3.7rem;
         }
     }
     .icon-bar {
         position: fixed;
         left: calc(5%/2 - -13px);
         top: calc(50vh + 140px);
         transform: rotate(-90deg);
         transform-origin: left bottom;
         display: flex;
         align-items: center;
         a {
             display: block;
             padding: 8px;
             font-size: 14px;
             transition: all .3s ease-in-out;
             &:hover {
                 @include hover-green;
             }
         }
         .h6,
         h6 {
             opacity: .4;
             font-weight: 600;
             margin: 0 4px 0 0;
             font-family: $title-font;
         }
     }
     .scroll-to-top {
         right: calc(5%/2 - 56px);
         bottom: 100px;
         img {
             margin-left: 7px;
         }
         .h6,
         h6 {
             display: block;
             color: $main-color;
             font-family: $title-font;
             transform: rotate(-90deg);
         }
     }
     .scroll-to-top-mobile {
         display: none;
     }
     .page-footer {
         display: none;
     }
     /*=============================================
   =            Blog 768px            =
   =============================================*/
     .blog-list {
         margin-top: 7.5rem;
         top: 0px;
         .cta {
             margin-left: 0;
             margin-right: 0;
             width: 100%;
         }
     }
     .blog-card {
         width: 100%;
         max-width: 100%;
         display: flex;
         flex-direction: row;
         margin-bottom: 25px;
         overflow: hidden;
         .blog-img {
             width: 40%;
             order: 2;
             height: auto;
             padding-bottom: 0;
             min-height: 420px;
             transition: transform .3s linear;
         }
         .blog-content {
             width: 60%;
             padding: 4rem 7rem;
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: flex-start;
             .blog-date {
                 margin-bottom: 17px;
             }
         }
         &:hover {
             .blog-img {
                 transform: scale(1.04);
                 transition: transform .3s linear;
             }
         }
     }
     /*=============================================
   =            Single pages 768px         =
   =============================================*/
     .single-treatment-container {
         padding-left: 3rem;
         padding-right: 3rem;
     }
     .editor {
         .h3,
         h3 {
             margin-bottom: 3.7rem;
         }
     }
     .product-slider {
         padding: 4rem 8rem 9rem;
     }
     .slick-product {
         .slick-prev,
         .slick-next {
             width: 3.2rem;
             top: initial;
             bottom: 50%;
             &:before {
                 content: "";
                 background-size: contain;
                 background-repeat: no-repeat;
                 background-position: center;
                 display: inline-block;
                 width: 3.2rem;
                 height: 3rem;
                 opacity: 1;
             }
         }
         .slick-prev {
             left: -8rem;
             &:before {
                 background-image: url('img/slider-arrow2-left.svg');
             }
         }
         .slick-next {
             right: -8rem;
             &:before {
                 background-image: url('img/slider-arrow2-right.svg');
             }
         }
     }
     .similar-product,
     .similar-treatment {
         .section-title {
             margin-bottom: 6rem;
         }
         &.section {
             padding-left: initial;
             padding-right: initial;
         }
         .card-product,
         .similar-treatment-card {
             margin-bottom: 0;
         }
         .product-list {
             margin-top: 0;
             .card-product:last-child,
             .similar-treatment-card:last-child {
                 display: none;
             }
         }
     }
     .single-treatment,
     .single-product,
     .single-post,
     .woocommerce-page {
         .cta {
             width: 90%;
         }
     }
     /*----------  Single blog 768px  ----------*/
     .single-blog {
         max-width: 1000px;
         width: 90%;
         background-color: #fff;
         border: 1px solid $border-color;
         margin-left: auto;
         margin-right: auto;
         position: relative;
         top: -9rem;
         &.remove-top {
             top: 0;
         }
     }
     .single-blog-content {
         padding: 6rem 13rem 9.5rem;
         hr {
             margin: 4rem 0;
             width: 47px;
             border-width: 3px;
         }
         .h5,
         h5,
         .h6,
         h6 {
             margin-bottom: 1.2rem;
             margin-top: 4.5rem;
         }
         .h2,
         h2,
         .h3,
         h3,
         .h4,
         h4 {
             margin-bottom: 2.5rem;
             margin-top: 5.5rem;
         }
     }
     .single-blog-author {
         margin-left: 0;
         margin-right: 0;
         padding: 5rem 6rem;
         display: flex;
         flex-wrap: nowrap;
     }
     .blog-author-content {
         width: 90%;
         padding-left: 3.3rem;
     }
     .blog-author-img {
         width: 60px;
         height: 60px;
     }
     .similar-blog {
         &.section {
             padding-left: 0;
             padding-right: 0;
         }
         .card-footer {
             //  padding: 0 2.5rem;
         }
     }
     .similar-blog-list {
         display: flex;
         flex-direction: nowrap;
         .card-blog {
             margin-right: 2rem;
             //  padding-bottom: 84px;
             padding-bottom: 60px;
             width: 33.33%;
             &:last-child {
                 margin-right: 0;
             }
         }
         .card-blog__content {
             padding-bottom: 0;
         }
     }
     /*----------  Sidebar 768px ----------*/
     .layout-sidebar {
         display: flex;
         flex-direction: row;
         margin-top: 33px;
         margin-bottom: 33px;
         main {
             width: 65%;
         }
         aside {
             width: 35%;
         }
     }
     .sidebar {
         height: auto;
     }
     .sidebar-box,
     .sidebar-footer {
         background-color: #fff;
         position: initial;
     }
     .sidebar-footer {
         padding-left: 0;
         padding-right: 0;
         .sidebar-open {
             display: none;
         }
         .btn {
             width: 100%;
         }
     }
     .sidebar-content {
         opacity: 1;
         * {
             color: $dark;
         }
     }
     .sidebar-box {
         position: -webkit-sticky;
         position: sticky;
         top: 0;
         height: auto;
         padding: 4rem 4rem;
         border: 1px solid $border-color;
     }
     /*----------  TREATMENT SINGLE PAGE - sidebar doctor info ----------*/
     .sidebar-dr-info {
         .associate__profile--content {
             padding-right: 0;
             h3,
             p {
                 color: $dark-opacity08;
             }
         }
         .btn {
             color: $main-color;
             line-height: 2.2rem;
             &:after {
                 content: url(img/btn-arrow-green.svg);
                 height: 2.2rem;
             }
         }
     }
     /*----------  Pagination  ----------*/
     .pagination,
     .isotope-pagination {
         .page-numbers {
             padding: 2.9rem 3rem;
             transition: all .3s ease-in-out;
             &:hover {
                 transition: all .3s ease-in-out;
                 color: $main-color;
             }
         }
         .next,
         .prev {
             &:hover {
                 opacity: .7;
                 transition: all .3s;
             }
             img {
                 width: auto;
             }
         }
     }
     /*----------  Navigation 768px  ----------*/
     .home,
     .page-template-treatment-template,
     .page-template-products-template,
     .page-template-shop-template,
     .page-template-contact-template,
     .page-template-team-template,
     .single-product,
     .single-treatment {
         .site-header {
             background-color: #fff;
         }
     }
     .site-header {
         background-color: #fff;
     }
     .site-header.open {
         background-color: $dark;
         padding-left: 5.5rem;
         padding-right: 5.5rem;
     }
     /*----------  Team 768px  ----------*/
     .team {
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         margin-top: 0;
         padding-top: 7rem;
         .team-box {
             width: calc(50% - 2.5rem);
             margin-right: 5rem;
             margin-bottom: 5rem;
             transition: border 0.3s ease;
             display: flex;
             flex-direction: column;
             transition: all .3s ease-in-out;
             &:nth-child(2n) {
                 margin-right: 0;
             }
         }
         a.team-box {
             &:hover {
                 border: 1px solid $main-color;
                 transition: all .3s ease-in-out;
                 cursor: pointer;
             }
         }
         &-content {
             flex-grow: 1;
             display: flex;
             flex-direction: column;
             .more {
                 margin-bottom: 3rem;
             }
             p {
                 line-height: 28px;
             }
             .btn-border {
                 border: 1px solid $main-color;
                 background-color: #fff;
                 color: $main-color;
                 padding: 13px 60px 13px 30px;
                 align-self: flex-start;
                 margin-top: auto;
                 &:after {
                     width: 20px;
                     height: 12px;
                     right: 25px;
                     background-image: url(img/btn-arrow-green.svg);
                     transition: all 0.3s ease;
                 }
                 &:hover {
                     background-color: $main-color;
                     color: #fff;
                     &:after {
                         background-image: url(img/arrow.svg);
                     }
                 }
             }
         }
     }
     /*----------  Woocommerce  768px ----------*/
     .woocommerce-account .woocommerce-MyAccount-navigation {
         width: 100%;
         margin-bottom: 3rem;
     }
     .woocommerce-account .woocommerce-MyAccount-content {
         width: 100%;
     }
     .woocommerce #content table.cart td.actions .input-text,
     .woocommerce table.cart td.actions .input-text,
     .woocommerce-page #content table.cart td.actions .input-text,
     .woocommerce-page table.cart td.actions .input-text {
         width: auto;
         max-width: 170px;
     }
     .cross-sells {
         .products {
             justify-content: flex-start;
         }
         .card-footer {
             bottom: 0;
         }
         .similar-product {
             width: 100%;
         }
         .card-product {
             border-color: $border-color;
         }
     }
     .woocommerce .cart-collaterals .cart_totals,
     .woocommerce-page .cart-collaterals .cart_totals {
         width: 35%;
         min-width: 280px;
     }
     .woocommerce .cart-collaterals .cross-sells,
     .woocommerce-page .cart-collaterals .cross-sells {
         width: 58%;
     }
     .woocommerce {
         .woocommerce-form-login,
         .woocommerce-ResetPassword {
             max-width: 550px;
         }
         .woocommerce-ResetPassword {
             margin-left: auto;
             margin-right: auto;
             .woocommerce-form-row {
                 width: 100%;
             }
         }
     }
     /*----------  PROMO PRODUCT BOX - BLOG PAGE  ----------*/
     .promo-product,
     .promo-treatment {
         margin-left: 0;
         margin-right: 0;
     }
     .promo-product {
         padding: 6rem 40% 6rem 6rem;
         &.single-product-header {
             min-height: auto;
         }
         .single-product-image {
             padding-right: 0;
             width: 35%;
             right: 5%;
         }
         .single-product-price {
             width: 100%;
             .h6 {
                 strong {
                     margin-left: 1.6rem;
                 }
             }
         }
         .single-product-btn {
             text-align: left;
         }
         .product-rating {
             display: inline-block;
             margin-left: 1.6rem;
             margin-top: 0;
         }
         .btn-full {
             min-width: 29rem;
             margin-right: 2rem;
         }
     }
     /*----------  PROMO TREATMENT BOX - BLOG PAGE  ----------*/
     .promo-treatment {
         padding: 0;
         min-height: auto !important;
         .header-image {
             padding: 3rem 6rem 3rem 3rem;
             height: auto;
             margin: auto;
         }
         .header-content {
             padding: 6rem 3rem 6rem 6rem;
             .btn-full {
                 margin: 1.5rem 2rem 0 0;
                 min-width: 29rem;
             }
             .btn:not(.btn-full) {
                 margin: 2rem 0 0 0;
             }
         }
         &__buttons {
             text-align: left;
         }
     }
     .single-blog-content {
         .promo-product,
         .promo-treatment {
             margin-left: -13rem;
             margin-right: -13rem;
         }
     }
     .single-treatment-container {
         .promo-product,
         .promo-treatment {
             margin-left: -20px;
             margin-right: -20px;
             .header-content .btn-full {
                 min-width: initial;
             }
         }
     }
     /*----------  TEAM SINGLE PAGE - HEAD SECTION  ----------*/
     .team-single {
         background-color: $background-grey;
         min-height: auto !important;
         height: auto !important;
         margin-bottom: 0;
         display: block;
         h1 {
             margin-bottom: 1rem;
         }
         .header-image {
             width: 44%;
             margin: 0 0 0 20px;
             float: right;
             .desktop {
                 display: block;
             }
             .mobile {
                 display: none;
             }
         }
         .header-content {
             width: 100%;
             display: block;
         }
         &::after {
             content: '';
             display: block;
             clear: both;
         }
     }
 }
 
 @media only screen and (min-width: 850px) {
     /*----------  Number counter section 850px ----------*/
     .number-counter {
         display: flex;
         flex-direction: row;
         align-items: flex-start;
         justify-content: space-between;
     }
     .number-counter-title {
         width: 20%;
         padding-right: 20px;
     }
     .number-wrap {
         width: auto;
         overflow: initial;
         >div {
             margin-right: 8rem;
             &:nth-last-child(1) {
                 margin-right: 0;
             }
         }
         hr {
             border-width: 3px;
         }
     }
     /*----------  Cookie  850px ----------*/
     #cookie-notice {
         .cookie-notice-container.cookie-notice-container {
             padding: 4rem 0;
             margin-left: auto;
             margin-right: auto;
             width: 90%;
             max-width: 1265px;
             display: flex;
             flex-direction: row;
             .cn-text-container {
                 width: 77%;
             }
             .cn-buttons-container {
                 width: 23%;
                 align-items: center;
                 flex-direction: column;
                 justify-content: center;
             }
         }
         .cn-text-container {
             padding-bottom: 0;
         }
         #cn-accept-cookie {
             padding: 18px;
             margin-bottom: 2rem;
             border-radius: 0;
         }
     }
     /*----------  Woocommerce  ----------*/
     .woocommerce-checkout_wrap {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
     }
     .checkout-customer_details_wrap,
     .checkout-order_review_wrap {
         width: 48%;
     }
     .checkout-customer_details_wrap {
         float: left;
     }
     .checkout-order_review_wrap {
         float: right;
     }
     .home-header,
     .blog-header,
     .product-header,
     .single-treatment-header,
     .coupon-header,
     .treatments-header,
     .team-header {
         .header-footer {
             padding: 0 5.5rem;
             overflow: initial;
         }
     }
 }
 /* ======== LAPTOP ======= */
 
 @media only screen and (min-width: $laptop) {
     html {
         font-size: 52%;
     }
     .site {
         padding-top: 11.4rem;
     }
     /*----------  Partners logo section 990px  ----------*/
     .partners {
         &.section {
             padding-left: 3rem;
             padding-right: 3rem;
         }
         .partner-logo {
             width: 180px;
             margin: 30px 9px 30px
         }
     }
     /*----------  Sidebar   ----------*/
     .single-treatment-container {
         padding-left: 7rem;
         padding-right: 7rem;
     }
     /*----------  Sidebar 990px  ----------*/
     .layout-sidebar {
         main {
             width: 70%;
         }
         aside {
             width: 30%;
         }
     }
     /*----------  Headers 990px  ----------*/
     .blog-header,
     .product-header,
     .single-treatment-header,
     .treatments-header,
     .single-product-header {
         height: 100%;
     }
     .single-product-title {
         grid-column-end: 5;
     }
     .blog-header {
         height: 580px;
     }
     /*----------  Navigation 990px  ----------*/
     .cart-wrap {
         display: flex;
         align-items: flex-start;
         position: absolute;
         right: 60px;
         top: -16px;
         .account-title {
             display: inline-block;
             font-size: 14px;
             color: $dark-opacity;
             padding: 5px 15px;
             margin-right: 5px;
             border-right: 1px solid rgba(50, 50, 49, .4);
             &:hover {
                 color: $main-color;
                 transition: all .3s ease-in-out;
             }
         }
         .account-title,
         .dropdown-back img {
             opacity: .5;
         }
         a {
             margin: 7px 0 0 0;
         }
         .account-icon {
             display: none;
         }
     }
     .nav-right {
         display: block;
     }
     .site-header {
         padding: 0;
         padding-top: 30px;
         .burger {
             display: none;
         }
         .dropdown-menu-mini-cart {
             &:before {
                 content: "";
                 display: inline-block;
                 width: 0;
                 height: 0;
                 border-style: solid;
                 border-width: 0 10px 11px 10px;
                 border-color: transparent transparent $main-color;
                 position: absolute;
                 right: calc(6rem + 6px);
                 top: -11px;
                 z-index: 1;
             }
             &:after {
                 content: "";
                 display: inline-block;
                 width: 0;
                 height: 0;
                 border-style: solid;
                 border-width: 0 9px 9px 9px;
                 border-color: transparent transparent #fff;
                 position: absolute;
                 right: calc(6rem + 7px);
                 top: -9px;
                 z-index: 2;
             }
         }
         &.prevent-scroll {
             top: inherit !important;
         }
         .mini-cart-active {
             background: transparent;
             position: relative;
             width: auto;
             height: auto;
             left: initial;
             bottom: initial;
             overflow-y: unset;
             .dropdown-menu-mini-cart {
                 position: absolute;
                 top: 39px;
                 right: -6rem;
             }
             .cart-close {
                 display: none;
             }
             .dropdown-back {
                 opacity: 1;
             }
         }
     }
     .site-branding {
         display: flex;
         align-items: center;
         .phone {
             display: block;
             position: relative;
             padding: 20px 0;
             p {
                 font-size: 12px;
                 opacity: .7;
                 margin-bottom: 0;
                 transition: all .3s ease-in-out;
                 &:hover {
                     cursor: pointer;
                     color: $main-color;
                     transition: all .3s ease-in-out;
                 }
             }
             .separator {
                 color: $dark;
                 opacity: .2;
                 margin: 0 7px;
             }
         }
     }
     .show-phone-details {
         display: none;
         position: absolute;
         top: 80%;
         left: 50%;
         right: 50%;
         transform: translateX(-50%);
         width: 120%;
         z-index: 10;
         padding-top: 10px;
     }
     .phone-wrap {
         background-color: $background-grey;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         padding: 14px 15px;
         >a {
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
             display: flex;
             flex-direction: column;
             justify-content: space-between;
             transition: opacity .3s ease-in-out;
             &:hover {
                 opacity: .8;
                 transition: opacity .3s ease-in-out;
             }
             img {
                 margin-bottom: 5px;
             }
         }
         &:before {
             content: "";
             width: 0;
             height: 0;
             border-left: 20px solid transparent;
             border-right: 20px solid transparent;
             border-bottom: 20px solid $background-grey;
             display: inline-block;
             position: absolute;
             top: -9px;
             left: 50%;
             right: 50%;
             transform: translateX(-50%);
         }
     }
     .wpml-ls-legacy-list-horizontal .wpml-ls-item {
         a {
             margin-left: 15px;
             border-color: $grey;
             color: $grey;
         }
     }
     .main-navigation {
         display: flex;
         margin-left: auto;
         padding: 0;
         .menu {
             display: flex;
         }
         li {
             &:nth-last-of-type(1) {
                 a {
                     padding-right: 0;
                 }
             }
         }
         .page_item a {
             opacity: 1;
         }
         a {
             color: $dark-opacity08;
             font-size: 14px;
             padding: 3.5rem 6px;
             border: none;
             &:hover {
                 background-color: #fff;
             }
         }
         .current-menu-item {
             a {
                 color: $main-color;
                 font-weight: 600;
             }
         }
     }
     .coupon-header {
         min-height: 50vh;
         .header-content,
         .header-image {
             width: 50%;
         }
         .header-content {
             padding-right: 2rem;
         }
         .header-image {
             .header-image-wrap {
                 width: 87%;
             }
         }
     }
     /*----------  Contact page  990px----------*/
     .contact-layout {
         display: flex;
         flex-direction: row;
         .contact-main {
             padding: 6rem 2rem 6rem 4rem;
             margin-top: 0;
         }
         .contact-side {
             padding: 6rem 2rem;
         }
         .contact-main {
             width: 70%;
         }
         .contact-side {
             width: 30%;
             display: flex;
             flex-direction: column;
             justify-content: flex-start;
         }
     }
     .contact-page {
         margin-bottom: 27px;
     }
     .contact-page {
         .contact-side {
             padding-top: 16rem;
         }
     }
     .contact-form {
         margin-top: 3rem;
     }
     .contact-info {
         padding-bottom: 0;
         padding-top: 4rem;
         li {
             margin-bottom: 14px;
         }
     }
     #tabs {
         overflow-x: unset;
     }
     /*----------  Coupon layout 990px ----------*/
     .coupon-layout {
         display: flex;
         flex-direction: row;
         margin-top: 24px;
         .coupon-main,
         .coupon-side {
             padding: 6rem 7rem;
         }
         .coupon-main {
             width: 65%;
         }
         .contact-info {
             padding-top: 6rem;
         }
         .coupon-side {
             width: 37%;
             display: flex;
             flex-direction: column;
             justify-content: space-between;
             border-left: 3px solid $main-color;
         }
         .coupon-img {
             max-height: 420px;
             display: flex;
             justify-content: center;
             img {
                 height: auto;
                 max-height: 100%;
             }
         }
     }
     .coupon-column {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         .coupon-content {
             width: 48%;
         }
         .coupon-title {
             width: 48%;
         }
     }
     .scroll-gradient {
         &:after {
             display: none;
         }
     }
     /*----------  Blog page 990px  ----------*/
     .blog-card {
         .blog-content {
             padding: 4rem 11rem 4rem 8rem
         }
     }
     .map-direction-wrap {
         padding-left: 0;
         padding-right: 0;
     }
     /*----------  Woocommerce  990px ----------*/
     .cart-close {
         display: none;
     }
     .dropdown-menu-mini-cart {
         width: 380px;
         right: 0;
         bottom: initial;
         left: initial;
         top: 60px;
         transform: none;
     }
     .woocommerce {
         padding-top: 7rem;
         padding-bottom: 7rem;
     }
     .woocommerce-checkout .woocommerce {
         padding-top: 2rem;
     }
     .single-treatment-container {
         .promo-product,
         .promo-treatment {
             margin-left: -7rem;
             margin-right: -7rem;
         }
     }
 }
 
 @media only screen and (min-width: 1100px) {
     /*----------  Card 1100px  ----------*/
     .column-3 {
         .card,
         .card-product {
             width: 33.33%;
             padding-left: 3rem;
             padding-right: 3rem;
         }
     }
     .card-footer {
         padding: 0 3rem;
     }
     .treatments-page {
         .card {
             .card-footer {
                 padding: 0 3rem;
             }
         }
     }
     .card-rating {
         padding-bottom: 140px;
     }
     .card-star {
         top: -40px;
     }
     .similar-product,
     .similar-treatment {
         .product-list {
             .card-product:last-child,
             .similar-treatment-card:last-child {
                 display: flex;
                 flex-direction: column;
             }
         }
     }
     /*----------  Single blog 1100px  ----------*/
     .single-blog-header {
         height: 48vh;
         max-height: 450px;
         min-height: 350px;
         padding-bottom: 0;
     }
     .similar-blog-list {
         .card-blog {
             margin-right: 5.2rem;
             width: 33.33%;
             &:last-child {
                 margin-right: 0;
             }
         }
         .blog-img {
             padding-bottom: 70%;
         }
     }
     /*----------  Header 1100px  ----------*/
     .home-header,
     .blog-header,
     .product-header,
     .single-treatment-header,
     .coupon-header,
     .treatments-header {
         min-height: 450px;
     }
     /*----------  Contact 1100px  ----------*/
     .contact-form {
         margin-top: 7rem;
     }
     /*----------  Banner single page  ----------*/
     .single-banner {
         display: flex;
         flex-direction: row;
         margin-left: -7rem;
         margin-right: -7rem;
         min-height: 270px;
         .banner-content {
             width: 75%;
             padding: 55px 180px 55px 75px;
             clip-path: polygon(0 0, calc(100% - 260px) 0%, 100% 100%, 0% 100%);
             display: flex;
             align-items: center;
             .banner-content-inner {
                 margin-left: 0;
             }
         }
         .banner-content-shape {
             left: 0;
             right: initial;
             top: 0;
         }
         .banner-image {
             width: 25%;
             position: relative;
             &:after {
                 content: "";
                 background-color: $background-green;
                 display: inline-block;
                 clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
                 position: absolute;
                 left: -260px;
                 top: 0;
                 width: 260px;
                 height: 100%;
             }
             .banner-main-image {
                 width: 290px;
                 position: relative;
                 left: -130px;
                 height: 100%;
                 display: flex;
                 flex-direction: column;
                 justify-content: flex-end;
             }
             .banner-shape-left,
             .banner-shape-right {
                 width: auto;
             }
             .banner-shape-right {
                 right: -133px;
                 bottom: -63px;
             }
         }
     }
     /*----------  Woocommerce 1100px  ----------*/
     .woocommerce-MyAccount-navigation {
         padding-right: 3rem;
         border-bottom: none;
         >ul {
             display: block;
             overflow-y: auto;
             a {
                 border-bottom: 1px solid $border-color;
                 margin-right: 3rem;
             }
         }
     }
     .woocommerce-account .woocommerce-MyAccount-navigation {
         width: 25%;
         margin-bottom: 3rem;
     }
     .woocommerce-account .woocommerce-MyAccount-content {
         width: 75%;
     }
     /*----------   PROMO TREATMENT BOX - BLOG PAGE  1100px----------*/
     .promo-treatment {
         .header-image {
             width: 32%;
         }
     }
     .treatments-header {
         .header-image {
             padding-right: 8rem;
         }
     }
 }
 
 @media only screen and (min-width: 1200px) {
     .home-header,
     .blog-header,
     .product-header,
     .single-treatment-header,
     .coupon-header,
     .treatments-header,
     .single-product-header,
     .team-header {
         min-height: 580px;
     }
     .sidebar-box {
         padding-left: 6rem;
         padding-right: 6rem;
     }
     .column-3 {
         .card,
         .card-product {
             width: 33.33%;
             padding-left: 5rem;
             padding-right: 5rem;
             padding-top: 3rem;
         }
     }
     .card-footer {
         padding: 0 5rem;
     }
     .treatments-page {
         .card {
             margin-bottom: 4rem;
             .card-footer {
                 padding: 0 5rem;
             }
             >a {
                 min-height: 330px;
             }
         }
     }
     /*----------  Contact page  1200px----------*/
     .contact-layout {
         .contact-main {
             width: 66%;
         }
         .contact-side {
             width: 42%;
         }
     }
     .contact-layout {
         .contact-main {
             padding: 6rem 4rem 6rem 5rem;
         }
         .contact-side {
             padding: 15% 6rem 7rem;
         }
     }
     /*----------  Bunner 1200px  ----------*/
     .banner {
         .banner-image {
             width: 53%;
             display: flex;
             flex-direction: column;
             justify-content: flex-end;
             .banner-main-image {
                 width: 300px;
                 left: 0;
                 display: flex;
                 flex-direction: column;
                 justify-content: flex-end;
             }
             .banner-shape-left {
                 left: -87%;
                 bottom: -73px;
             }
             .banner-shape-right {
                 right: -163px;
                 bottom: -80px;
             }
         }
         .banner-content {
             .banner-content-inner {
                 width: 80%;
             }
         }
     }
     .woocommerce .cart-collaterals .cart_totals,
     .woocommerce-page .cart-collaterals .cart_totals {
         width: 40%;
         min-width: auto;
     }
     /*----------  cross sells  ----------*/
     .cart-collaterals {
         margin-top: 60px;
     }
 }
 
 @media only screen and (min-width: 1300px) {
     /*----------  Navigation 1300px  ----------*/
     .main-navigation {
         a {
             padding: 3rem 1.2rem;
             font-size: 16px;
         }
     }
     .header-lang {
         font-size: 14px;
         padding: 6px 4px;
     }
     .site-logo {
         //  width: 130px;
         img {
             width: 149px !important;
             height: 27px !important;
         }
     }
     #tabs {
         a {
             margin-right: 4rem;
         }
     }
     /*----------  Banner single  ----------*/
     .single-banner {
         .banner-content {
             .banner-content-inner {
                 width: 340px;
             }
         }
     }
 }
 /* ======== DESKTOP ======= */
 
 @media only screen and (min-width: $desktop) {
     html {
         font-size: 62.5%;
     }
     /*----------  Card 1440px  ----------*/
     .card {
         padding-left: 5.5rem;
         padding-right: 5.5rem;
     }
     .icon-bar {
         left: calc((100% - 1265px)/2 - 32px);
     }
     .scroll-to-top {
         right: calc((100% - 1265px)/2 - 100px);
     }
     /*----------  Card product 1440px  ----------*/
     .card-product {
         .btn-border {
             min-width: 170px;
         }
     }
     /*----------  Sidebar 1440px  ----------*/
     .layout-sidebar {
         aside {
             width: 420px;
         }
     }
     .single-product-header {
         padding-right: 550px;
         &.promo-product {
             padding-right: 44%;
             .single-product-image {
                 //  width: 44%;
             }
         }
     }
     /*----------  cross sells  1440px----------*/
     .cross-sells {
         .btn-border {
             min-width: auto;
         }
     }
     .home-header {
         .header-image {
             img {
                 //  width: 477px;
                 //  width: 570px;
             }
         }
     }
 }