/**
 * partials/reset
 * ---
 * Reset file
 * NOTE: also `normalize.css` is used
 */

// Global box-sizing
*,
*:after,
*:before {
    box-sizing: border-box;
}

html {
    font-size: 40%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    color: $dark;
    font-family: $main-font;
    margin: 0;
    padding: 0;
    padding-bottom: 58px;
    counter-reset: section;
    overflow-x: hidden;
}

img {
    // Don't allow <IMG> to be larger then its container
    max-width: 100%;
    // Omit space caused by default style, between images lines
    vertical-align: middle;
}

input[type="text"],
input[type="search"] {
    font-size: inherit;
    line-height: inherit;
}

// Text selection
::selection {
    background-color: $main-color;
    text-shadow: none;
    color: #fff;
}

button {
    cursor: pointer;
    border: none;
}

.site {
    padding-top: 54px;
    position: relative;
    overflow: hidden;
}


/*----------  WP editor ----------*/

img.alignright {
    float: right;
    margin: 0 0 2rem 2rem;
}

img.alignleft {
    float: left;
    margin: 0 2rem 2rem 0;
}

img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignright {
    float: right;
}

.alignleft {
    float: left;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*----------  Layout  ----------*/

.container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 45px;
    padding-bottom: 45px;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
    .h1,
    h1,
    .h2,
    h2 {
        margin-bottom: 1.2rem;
        @include fluid-type(320px, 1360px, 26px, 48px);
        @include line-height(320px, 1360px, 32px, 55px);
    }
    .section-subtitle {
        color: $dark-opacity;
        font-weight: 400;
    }
}

.section-btn {
    margin-top: 30px;
}


/*----------  Header  ----------*/

.home-header,
.blog-header,
.product-header,
.single-treatment-header,
.coupon-header,
.treatments-header,
.team-header {
    position: relative;
    .h1,
    h1 {
        @include fluid-type(320px, 1360px, 26px, 48px);
        @include line-height(320px, 1360px, 34px, 55px);
        u {
            color: $secondary-color;
            &:before {
                display: none;
            }
        }
    }
    .header-content {
        background-color: $background-grey;
        padding: 30px 20px 55px;
        display: inline-block;
    }
    .header-image {
        margin-left: -3rem;
        margin-right: -3rem;
    }
    .header-footer {
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        padding: 0 17.5px;
        border-top: 1px solid rgba(151, 151, 151, .2);
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        background-color: $background-grey;
        &:before {
            content: "";
            display: inline-block;
        }
        span {
            @include fluid-type(320px, 1360px, 12px, 16px);
            opacity: .8;
            line-height: 16px;
            display: inline-block;
            padding-right: 25px;
            padding: 15px 14px;
            margin-right: 22px;
            cursor: pointer;
            transition: all .3s ease-in-out;
            @include border-bottom-animation;
        }
    }
}

.blog-date {
    color: $dark-opacity;
    margin-bottom: 8px;
    font-weight: 400;
    @include fluid-type(320px, 1360px, 12px, 16px);
    display: inline-block;
    margin-bottom: 2rem;
    .separator {
        display: inline-block;
        margin: 0 8px;
    }
}

.home-header,
.blog-header,
.team-header {
    .header-content {
        position: relative;
        top: -80px;
    }
    .btn {
        position: absolute;
        bottom: 0;
        width: 100%;
        right: 0;
        left: 0;
        text-align: left;
        padding-left: 20px;
    }
}

.home-header {
    .header-content {
        .btn-green {
            background: #15ab98;
        }
    }
    .header-image {
        background-color: $background-orange;
        padding: 20px 0 80px;
        img {
            width: 210px;
            margin: 0 auto;
            display: block;
        }
    }
}

.team-header {
    padding-top: 15px;
    .header-image {
        background-color: $background-green;
        padding: 25px 0 90px 0;
    }
    img {
        width: 50%;
        height: auto;
        margin: 0 auto;
        display: block;
    }
    .header-content {
        background-color: #fff;
        border: 1px solid $border-color;
    }
}

.blog-header {
    .header-image {
        height: 26vh;
        min-height: 180px;
    }
    .btn {
        margin-top: 4rem;
    }
}

.product-header {
    background-color: $background-grey;
    position: relative;
    .header-content {
        padding-bottom: 47px;
        padding-right: 57px;
        margin-left: -3rem;
        margin-right: -3rem;
    }
    .header-image {
        display: none;
    }
    .product-icon {
        position: absolute;
        right: 0;
        top: 10px;
        width: 70px;
    }
}

.single-treatment-header {
    background-color: $background-green;
    &--orange {
        background-color: $background-orange;
    }
    .h1,
    h1 {
        @include fluid-type(320px, 1360px, 26px, 48px);
        @include line-height(320px, 1360px, 34px, 55px);
    }
    .single-treatment__tagline {
        text-transform: uppercase;
        color: $grey;
        @include fluid-type(320px, 1360px, 14px, 16px);
        @include line-height(320px, 1360px, 22px, 25px);
        display: block;
        margin: -3rem 0 2rem 0;
    }
    .header-content {
        background-color: transparent;
    }
    .header-image {
        display: none;
    }
    .btn {
        width: 100%;
        margin-top: 3.5rem;
    }
}

.treatments-booked {
    margin-top: 0.8rem;
    @include fluid-type(320px, 1360px, 11px, 13px);
    line-height: 16px;
    color: $grey;
}

.coupon-header {
    background-color: $background-grey;
    display: flex;
    flex-direction: column-reverse;
    .header-content {
        padding-bottom: 0;
    }
    .header-image {
        .header-image-wrap {
            width: 220px;
            margin-left: auto;
            display: block;
            margin-top: 2rem;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

.treatments-header {
    background-color: $background-grey;
    .h1,
    h1 {
        margin-bottom: 1rem;
    }
    .header-content {
        padding-bottom: 80px;
        padding-left: 0;
        padding-right: 0;
        .h2,
        h2 {
            @include fluid-type(320px, 1360px, 18px, 28px);
            @include line-height(320px, 1360px, 24px, 35px);
            color: $dark-opacity;
            font-weight: 400;
        }
    }
    .header-image {
        display: none;
    }
    .treatments-icon {
        position: absolute;
        bottom: 47px;
        right: 0;
        width: 80px;
    }
}

.single-product.woocommerce {
    padding-top: 0;
    padding-bottom: 0;
}

.single-product {
    div.product {
        form.cart {
            .quantity {
                float: none !important;
                margin: 0 !important;
                display: inline-block !important;
            }
        }
    }
}

.single-product-header {
    background-color: $background-grey;
    padding-top: 30px;
    padding-bottom: 30px;
}

.single-product-content {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;
    .single-product-image,
    .single-product-price {
        width: 50%;
    }
    .single-product-price {
        display: flex;
        flex-direction: column;
        margin-right: auto;
        justify-content: center;
        align-items: flex-start;
        .h6,
        h6 {
            margin-right: auto;
        }
        .wpd-custom-field .fa-star {
            font-size: 16px;
        }
    }
}

.header-promo,
.header-promo-single {
    overflow: hidden;
}

.header-promo {
    .header-content {
        padding-bottom: 43px;
    }
}

.header-promo-single {
    padding-bottom: 0;
    .single-product-btn {
        margin-top: 0;
    }
}

.banner-section.section {
    padding: 0;
    width: 100%;
    margin-bottom: 25px;
}

.header-promo-banner,
.header-promo-single-banner {
    margin-top: auto;
    padding: 20px 0;
    background: rgba(233, 176, 139, .15);
    position: relative;
    margin-top: 20px;
    z-index: 1;
    .h4,
    h4 {
        font-weight: 600;
        margin-bottom: 0;
        color: $grey;
        margin-bottom: 5px;
        i {
            color: $main-color;
            font-style: normal;
            @include fluid-type(320px, 990px, 24px, 36px);
        }
    }
    p {
        color: $grey;
    }
    &:before {
        content: "";
        height: 100%;
        width: 1000px;
        position: absolute;
        background: rgba(233, 176, 139, .15);
        right: -1000px;
        top: 0;
        z-index: 1;
    }
    &:after {
        content: "";
        height: 100%;
        width: 1000px;
        position: absolute;
        background: rgba(233, 176, 139, .15);
        left: -1000px;
        top: 0;
    }
}

.single-product-image {
    img {
        max-height: 100%;
    }
}

.single-product-price {
    padding-left: 4rem;
    display: flex;
    align-items: center;
    .h6,
    h6 {
        color: $dark-opacity;
        font-weight: 400;
        strong {
            display: block;
            margin-top: 3px;
            color: $dark;
            font-size: 24px;
            font-weight: 600;
        }
        .currency {
            font-size: 14px;
        }
    }
}

.single-product-btn {
    margin-top: 5rem;
    .btn {
        width: 70%;
        text-align: left;
        border: none;
        // margin-left: 20px;
    }
    .cart {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}


/*----------  Input number style  ----------*/

.woocommerce .quantity {
    position: relative;
    width: 75px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #E1E1E1;
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .arrow {
        border: solid $dark-opacity;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 3px;
        left: 8px;
        position: absolute;
        top: 10px;
        &.up {
            transform: rotate(-135deg);
        }
        &.down {
            transform: rotate(45deg);
        }
    }
    .qty {
        padding: 0;
        width: 50px;
    }
    input[type=number] {
        -moz-appearance: textfield;
        height: 100%;
        width: 100%;
        border: none;
        padding-right: 25px;
        ;
    }
    .arrow-wrap-plus,
    .arrow-wrap-minus {
        width: 25px;
        height: 25px;
        position: absolute;
        left: 50px;
        .minus,
        .plus {
            cursor: pointer;
            padding: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            border: none;
            background-color: transparent;
        }
    }
    .arrow-wrap-plus {
        top: 0;
        border-bottom: 1px solid #E1E1E1;
        border-left: 1px solid #E1E1E1;
        .plus {
            left: 0;
            right: 0;
            top: 0;
        }
    }
    .arrow-wrap-minus {
        bottom: 0;
        border-left: 1px solid #E1E1E1;
        .minus {
            left: 0;
            right: 0;
            top: 0;
        }
    }
}

.single-product-cat {
    color: $dark-opacity;
    @include fluid-type(320px, 1360px, 12px, 16px);
    display: inline-block;
    margin-bottom: 1rem;
}


/*----------  Number counter section ----------*/

.number-counter {
    position: relative;
    top: -40px;
    &.section {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.number-counter-title {
    margin: 0 0 3rem;
}

.number-wrap {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    padding-bottom: 14px;
    >div {
        margin-right: 30px;
        text-align: center;
    }
    .count-wrap {
        color: $main-color;
        @include fluid-type(320px, 1360px, 40px, 65px);
        font-weight: 700;
        line-height: 7.5rem;
        margin: 0;
    }
    span {
        @include fluid-type(320px, 1360px, 10px, 14px);
        white-space: nowrap;
        opacity: .5;
    }
    hr {
        border: none;
        border-top: 2px solid rgba(53, 195, 178, .3);
        margin: 10px 0;
        width: 2rem;
        margin-left: auto;
        margin-right: auto;
    }
}


/*----------  Banner  ----------*/

.banner,
.single-banner {
    overflow: hidden;
    .banner-content {
        position: relative;
        background-color: $background-orange;
        padding: 6.5rem 6.5rem 10px 6.5rem;
        .banner-content-inner {
            // width: 290px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
        &:before {
            content: "";
            display: inline-block;
            z-index: 1;
            height: 70px;
            width: 100%;
            position: absolute;
            bottom: -69px;
            left: 0;
            background-color: $background-orange;
            clip-path: polygon(0 0, 100% 1%, 100% 2%, 0% 100%);
        }
        .break {
            display: block;
        }
        .h4,
        h4 {
            @include fluid-type(320px, 1360px, 24px, 36px);
            @include line-height(320px, 1360px, 31px, 44px);
            font-weight: 500;
            font-family: $title-font;
        }
        p {
            font-weight: 400;
            font-family: $main-font;
            @include fluid-type(320px, 1360px, 16px, 19px);
            @include line-height(320px, 1360px, 20px, 31px);
            margin: 0 0 .4rem 0;
            color: #fff;
        }
        .h5,
        h5,
        .h6,
        h6,
        .h4,
        h4,
        .h3,
        h3,
        .h2,
        h2 {
            color: #fff;
            margin-bottom: 0;
        }
        i {
            color: $main-color;
            font-style: normal;
            @include fluid-type(320px, 1360px, 36px, 60px);
        }
    }
    .banner-content-shape {
        width: 8rem;
        position: absolute;
        top: -6px;
        right: -5px;
    }
    .banner-image {
        background-color: $background-green;
        position: relative;
        .banner-main-image {
            width: 240px;
            margin-right: auto;
            margin-left: auto;
            display: block;
            position: relative;
            z-index: 1;
        }
        .banner-shape-right {
            position: absolute;
            right: -110px;
            bottom: -37px;
            width: 160px;
            z-index: -1;
        }
        .banner-shape-left {
            position: absolute;
            left: -207px;
            bottom: -57px;
            width: 228px;
            z-index: -1;
        }
    }
}

.single-banner {
    margin-bottom: 3.8rem;
}

.editor {
    .single-banner {
        img {
            margin: 0;
        }
    }
}


/*----------  Cta section  ----------*/

.cta {
    background-color: $background-orange;
    padding: 45px 40px;
    text-align: center;
    margin-bottom: 20px;
    .h2,
    h2 {
        margin-bottom: 10px;
    }
    .btn {
        margin-top: 16px;
        min-width: 18.5rem;
        text-align: left;
    }
    p {
        opacity: .6;
        @include line-height(320px, 1360px, 18px, 28px);
    }
}

.cta-rate {
    background-color: $background-grey;
    .btn {
        cursor: pointer;
    }
}

.cta-stars {
    transition: all .3s ease-in-out;
    &:hover {
        opacity: .8;
        transition: all .3s ease-in-out;
    }
}

.home {
    .cta {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }
}

.page-template-treatment-template,
.page-template-products-template {
    .cta {
        width: 100%;
    }
}


/*----------  Partners  ----------*/

.partners {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .partner-logo {
        width: 127px;
        margin: 12px 5px;
        display: flex;
        align-items: center;
        img {
            filter: grayscale(100%);
        }
        &:hover {
            img {
                filter: none;
                transition: filter .3s ease-in-out;
            }
        }
    }
}


/*----------  Card global  ----------*/

.card,
.card-product {
    border: 1px solid $border-color;
    padding: 20px;
    display: inline-block;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 60px;
    width: 100%;
    p {
        @include fluid-type(320px, 1360px, 14px, 16px);
        @include line-height(320px, 1360px, 22px, 25px);
    }
    >a {
        display: inline-block;
    }
}

.card-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
    display: inline-block;
}

.card-footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 0 20px;
    bottom: 15px;
    right: 0;
    left: 0;
    .btn-link,
    .btn-border {
        font-size: 12px;
        text-align: center;
    }
    .btn-link {
        margin-top: 0;
        text-align: left;
        &:after {
            background-image: url('img/btn-arrow-green.svg');
            width: 14px;
            height: 9px;
            right: 0.7rem;
        }
        &.btn-arrow {
            padding-right: 26px;
        }
    }
    .btn-border {
        background-color: $main-color;
        color: #fff;
        padding: 7px 9px;
    }
}

.arrow-down {
    width: 14px;
    display: inline-block;
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translateX(-50%);
    right: 15px;
    &:before,
    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 10px;
        height: 2px;
        background-color: rgba(0, 0, 0, .3);
        opacity: .4;
        transition: transform .5s;
    }
    &:before {
        right: -2px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        transform: rotate(45deg);
    }
    &:after {
        right: -9px;
        transform: rotate(-45deg);
    }
}

.arrow-down.active {
    top: 15px;
    &:before {
        transform: rotate(-45deg);
    }
    &:after {
        transform: rotate(45deg);
    }
}

.active {
    .arrow-down {
        &:before {
            transform: rotate(-45deg);
        }
        &:after {
            transform: rotate(45deg);
        }
    }
}

.column-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*----------  Card product  ----------*/

.product-list {
    margin-top: 40px;
}

.card-product {
    .btn-border {
        padding-left: 30px;
        padding-right: 30px;
    }
    .card-footer {
        border-top: 1px solid $border-color;
        padding-top: 15px;
    }
    .card-product-title {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.add-to-card-animation {
    .added_to_cart.wc-forward {
        display: none;
    }
}

.add-to-card-animation .add-to-card,
.add-to-card-animation .single_add_to_cart_button {
    position: relative;
    span {
        display: inline-block;
    }
    .load-finish,
    .loading-icon {
        color: white;
        opacity: 0;
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        /* move the icon on the right - outside the button */
        transform: translateX(50%) translateY(-50%);
    }
    // .loading-icon {
    //     opacity: 0;
    //     color: #fff;
    //     text-align: center;
    // }
    &.added {
        background-color: $main-color;
        transition: all .3s ease-in-out;
        .load-finish {
            /* product added to the cart - hide text message on the left with no transition*/
            color: transparent;
            transform: translateX(-50%) translateY(-50%);
            background-color: $main-color;
            opacity: 1;
            path {
                fill: none;
                stroke: white;
                stroke-dasharray: 500;
                stroke-dashoffset: 500;
                animation: draw 2s linear forwards;
            }
            svg {
                // transform: translateX(-50%) translateY(-50%);
            }
            &:after {
                display: none;
            }
        }
    }
    &.loading {
        background-color: $main-color;
        transition: all .3s ease-in-out;
        span {
            color: transparent;
            transform: translateX(-100%);
        }
        .loading-icon {
            opacity: 1;
            animation: rotation 1s infinite linear;
            transform: translateX(-50%) translateY(-50%);
            svg {
                animation: spin 1s infinite linear;
            }
        }
        &:after {
            display: none;
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes draw {
    from {
        stroke-linecap: round;
    }
    to {
        stroke-linecap: round;
        stroke-dashoffset: 0;
    }
}

.card-product-cat {
    color: $dark-opacity08;
    @include fluid-type(320px,
    1360px,
    12px,
    16px);
}

.card-product-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 15px;
    .card-product-img,
    .card-product-price {
        width: 50%;
    }
}

.card-product-price {
    padding: 30px;
    padding-right: 0;
    span {
        font-size: 12px;
        line-height: 16px;
        color: $dark-opacity;
    }
    .h3,
    h3 {
        font-family: $main-font;
        font-size: 21px;
        margin-bottom: 2px;
        span {
            color: $dark;
        }
    }
    .currency {
        font-size: 14px;
        margin-left: 2px;
    }
    .wpd-custom-field .fa-star {
        @include fluid-type(320px,
        768px,
        13px,
        15px);
    }
}


/*----------  Treatments  ----------*/

.home {
    .treatments {
        .card {
            margin-bottom: 15px;
        }
    }
}

.treatments {
    .card {
        .h5,
        h5,
        .h3,
        h3 {
            margin-bottom: 0;
            margin-top: 0;
            text-transform: uppercase;
            @include fluid-type(320px,
            1360px,
            14px,
            21px);
            @include line-height(320px,
            1360px,
            20px,
            31px);
            font-family: $main-font;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            /* autoprefixer: off */
            -webkit-box-orient: vertical;
            /* autoprefixer: on */
            overflow: hidden;
        }
        p {
            padding-top: 1.7rem;
        }
    }
}

.treatments-page {
    margin-top: 35px;
    .card {
        margin-bottom: 20px;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        .card-footer {
            padding-left: 20px;
            padding-right: 20px;
        }
        a {
            display: inline-block;
        }
    }
}


/*----------  Toggle  ----------*/

.card.toggle {
    padding: 15px;
    .h5,
    h5 {
        padding-right: 22px;
    }
}

.toggle,
.faq-toggle {
    position: relative;
    width: 100%;
    .toggle-content,
    .card-icon {
        display: none;
    }
    .toggle-content {
        padding-bottom: 80px;
    }
    .arrow-down {
        top: 12px;
        bottom: initial;
        width: 100%;
        height: 44px;
        display: inline-block;
        position: absolute;
        bottom: initial;
        transform: none;
        bottom: initial;
        transform: translateY(-50%);
        background: transparent;
        display: inline-block;
        border: none;
        height: 35px;
        top: 24px;
        right: 0;
        &:before {
            right: 18px;
        }
        &:after {
            right: 11px;
        }
    }
}

.toggle.active {
    border-color: $main-color;
    .toggle-content,
    .card-icon {
        display: block;
    }
}

.faq {
    .faq-toggle {
        .h3,
        h3 {
            margin-bottom: 0;
            margin-top: 0;
        }
    }
    .faq-toggle {
        padding-top: 2rem;
        padding: 12px 1.6rem;
        border: 1px solid $border-color;
        margin-bottom: 15px;
        .h3,
        h3 {
            @include fluid-type(320px,
            1360px,
            14px,
            16px);
            line-height: 22px;
            padding-right: 25px;
            cursor: pointer;
        }
        .arrow-down {
            top: 24px;
            left: 0;
            height: 20px;
            cursor: pointer;
        }
        .toggle-content {
            padding-top: 2.5rem;
            padding-bottom: 2rem;
            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .faq-toggle.active {
        .arrow-down {
            top: 14px;
            bottom: initial;
            transform: none;
        }
    }
}


/*----------  Footer  ----------*/

.footer {
    background-color: $background-grey;
    a {
        transition: all .3s ease-in-out;
        &:hover {
            @include hover-green;
        }
    }
}

.footer-title {
    text-align: center;
    margin-bottom: 22px;
    .h2,
    h2 {
        margin-bottom: 2rem;
    }
    .h6,
    h6 {
        font-family: $main-font;
        color: $dark-opacity;
        font-weight: 500;
        @include fluid-type(320px,
        1360px,
        12px,
        16px);
    }
    .btn {
        font-size: 14px;
        &:after {
            width: 2rem;
            height: 1.2rem;
            right: 2.5rem;
        }
        &:hover {
            color: $white;
            opacity: 0.8;
        }
    }
}

.footer-contact {
    background-color: #fff;
    padding: 10px 15px;
    a {
        font-weight: 500;
        @include fluid-type(320px,
        1360px,
        12px,
        16px);
    }
    span {
        color: $dark-opacity;
        font-weight: 500;
        font-size: 12px;
    }
    li {
        &:nth-of-type(1) {
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid rgba(50, 50, 49, .2);
        }
        &:nth-of-type(2) {
            margin-bottom: 0;
        }
    }
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    >li {
        width: 50%;
        margin-top: 35px;
        padding-left: 10px;
    }
    .footer-logo {
        order: 4;
    }
    li a,
    li {
        @include fluid-type(320px,
        1360px,
        12px,
        14px);
    }
    strong {
        font-family: $title-font;
        font-weight: 600;
        display: inline-block;
        font-size: 15px;
    }
    a {
        display: block;
        color: $dark-opacity;
        line-height: 25px;
        font-weight: 500;
    }
    span {
        color: $dark-opacity;
        display: inline-block;
        margin-top: 5px;
    }
}

.copyright {
    font-size: 11px;
    line-height: 14px;
}

.icon-bar {
    display: none;
}

.scroll-to-top {
    display: none;
    opacity: 1;
    z-index: 999;
    position: fixed;
    right: 15px;
    bottom: 100px;
    cursor: pointer;
    .h6,
    h6 {
        display: none;
    }
}

.scroll-to-top-mobile {
    background-color: $main-color;
    border-radius: 50px;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: auto;
        height: 100%;
        margin: 0;
        padding: 9px 0;
    }
}

.page-footer {
    background-color: $dark;
    padding: 15px 20px 9px;
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid rgba(245, 245, 245, .1);
    .social-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        // margin-right: 35px;
        img {
            margin-bottom: 5px;
            height: 22px;
            opacity: .85;
        }
        &:last-child {
            margin-right: 0;
        }
        span {
            font-size: 10px;
            color: rgba(243, 243, 243, .6);
            text-align: center;
        }
    }
}

.scroll-gradient {
    position: relative;
    &:after {
        display: inline-block;
        content: "";
        width: 40px;
        height: 62px;
        position: absolute;
        z-index: 1;
    }
}

.scroll-gradient--bottom {
    &:after {
        right: 0;
        bottom: 0;
    }
}

.scroll-gradient--top {
    &:after {
        right: 0;
        top: 0;
        height: 42px;
    }
}

.scroll-gradient--grey {
    &:after {
        background: rgb(245, 245, 245);
        background: linear-gradient(90deg, rgba(245, 245, 245, 0.47100847174807425) 0%, rgba(245, 245, 245, 1) 33%);
    }
}

.scroll-gradient--green {
    &:after {
        background: rgb(196, 239, 234);
        background: linear-gradient(90deg, rgba(196, 239, 234, 0.36456589471726186) 0%, rgba(196, 239, 234, 1) 32%);
    }
}


/*=============================================
=            Blog page            =
=============================================*/

.blog-list {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: -70px;
    .cta {
        margin-left: -3rem;
        margin-right: -3rem;
        width: 100%;
    }
}

.blog-card {
    border: 1px solid $border-color;
    margin-bottom: 20px;
    display: inline-block;
    .btn {
        margin-top: 4rem;
    }
}

.blog-img {
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.blog-content {
    padding: 20px;
    p {
        color: $dark-opacity;
    }
}

.similar-blog-list {
    .blog-img {
        @include image-cover();
    }
    .card-blog__content .h5 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


/*=============================================
=            Single pages            =
=============================================*/

.editor {
    a:not(.btn) {
        color: $main-color;
    }
    p,
    li {
        letter-spacing: .11px;
    }
    .h1,
    h1 {
        font-family: $title-font;
        @include fluid-type(320px,
        1360px,
        26px,
        48px);
        @include line-height(320px,
        1360px,
        32px,
        55px);
        font-weight: 500;
        margin: 0 0 4rem 0;
    }
    .h2,
    h2 {
        font-family: $title-font;
        @include fluid-type(320px,
        1360px,
        24px,
        36px);
        @include line-height(320px,
        1360px,
        31px,
        44px);
        font-weight: 500;
        margin: 0 0 3rem 0;
    }
    .h3,
    h3 {
        font-family: $title-font;
        @include fluid-type(320px,
        1360px,
        18px,
        28px);
        @include line-height(320px,
        1360px,
        24px,
        35px);
        font-weight: 600;
    }
    .h4,
    h4 {
        font-family: $title-font;
        @include fluid-type(320px,
        1360px,
        16px,
        24px);
        @include line-height(320px,
        1360px,
        25px,
        30px);
    }
    .h5,
    h5 {
        @include fluid-type(320px,
        1360px,
        16px,
        21px);
        @include line-height(320px,
        1360px,
        24px,
        31px);
        font-weight: 600;
        margin-bottom: 1.7rem;
    }
    .h6,
    h6 {
        @include fluid-type(320px,
        1360px,
        16px,
        18px);
        @include line-height(320px,
        1360px,
        20px,
        31px);
        margin: 0 0 .4rem 0;
    }
    .h1,
    h1,
    .h2,
    h2,
    .h3,
    h3,
    .h4,
    h4 {
        font-family: $main-font;
    }
    .h3,
    h3 {
        margin-bottom: 20px;
    }
    img {
        margin-bottom: 2.5rem;
        width: auto;
        height: auto;
    }
}

.wp-block-gallery {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.blocks-gallery-grid .blocks-gallery-image img,
.blocks-gallery-grid .blocks-gallery-item img,
.wp-block-gallery .blocks-gallery-image img,
.wp-block-gallery .blocks-gallery-item img {
    margin: 0;
}

.blocks-gallery-grid.columns-3 .blocks-gallery-image,
.blocks-gallery-grid.columns-3 .blocks-gallery-item,
.wp-block-gallery.columns-3 .blocks-gallery-image,
.wp-block-gallery.columns-3 .blocks-gallery-item {
    padding: 0;
}

.single-treatment-content {
    padding: 5rem 0;
    img[src*="icon"] {
        width: 40px;
        height: 40px;
        margin-top: 3rem;
        margin-bottom: 0;
    }
    p {
        margin-bottom: 3.8rem;
    }
    .h3,
    h3,
    .h2,
    h2 {
        text-transform: uppercase;
        font-weight: 600;
    }
    .h2,
    h2 {
        margin-bottom: 20px;
        @include fluid-type(320px,
        1360px,
        18px,
        28px);
        @include line-height(320px,
        1360px,
        24px,
        37px);
    }
}

.product-slider {
    padding-bottom: 48px;
}

.slider-product-wrap {
    border: 1px solid $border-color;
    margin-left: 9px;
    margin-right: 9px;
    height: 0;
    padding-bottom: 75%;
    overflow: hidden;
    position: relative;
    max-width: 350px;
    img {
        height: auto;
        width: 100%;
        position: absolute;
        top: 50%;
        bottom: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        right: 50%;
    }
}

.similar-product,
.similar-treatment {
    .section {
        margin-bottom: 38px;
    }
    .btn-border {
        transition: all .3s ease-in-out;
        &:hover {
            background-color: $main-color;
            color: #fff;
            transition: all .3s ease-in-out;
        }
    }
}


/*----------  Single blog  ----------*/

.single-blog-header {
    height: 0;
    padding-bottom: 34.2%;
    @include image-cover();
}

.single-blog-content {
    padding: 3.3rem 15px;
    a:not(.btn) {
        color: $main-color;
    }
    p {
        margin-bottom: 14px;
    }
    p,
    li,
    td {
        @include fluid-type(320px,
        1360px,
        14px,
        16px);
    }
    img {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        width: auto;
        height: auto;
    }
    em {
        @include fluid-type(320px,
        1360px,
        16px,
        18px);
        @include line-height(320px,
        1360px,
        24px,
        33px);
        color: rgba(50, 50, 49, .7);
        margin-bottom: 2rem;
        display: inline-block;
    }
    .h5,
    h5 {
        text-transform: uppercase;
    }
    .h1,
    h1,
    .h2,
    h2,
    .h3,
    h3,
    .h4,
    h4,
    .h5,
    h5,
    .h6,
    h6 {
        margin-top: 3.3rem;
        font-weight: 600;
    }
    .h2,
    h2,
    .h3,
    h3,
    .h4,
    h4 {
        margin-bottom: 3rem;
    }
    .h5,
    h5,
    .h6,
    h6 {
        margin-bottom: 11px;
    }
    .h2,
    h2,
    .h3,
    h3,
    .h4,
    h4,
    .h5,
    h5,
    .h6,
    h6 {
        font-family: $main-font;
        font-weight: 600;
        text-transform: uppercase;
    }
    .h2,
    h2 {
        @include fluid-type(320px,
        1360px,
        20px,
        28px);
        @include line-height(320px,
        1360px,
        26px,
        34px);
    }
    .h3,
    h3 {
        @include fluid-type(320px,
        1360px,
        18px,
        24px);
        @include line-height(320px,
        1360px,
        23px,
        32px);
    }
    .h4,
    h4 {
        @include fluid-type(320px,
        1360px,
        16px,
        20px);
        @include line-height(320px,
        1360px,
        23px,
        26px);
    }
    .h5,
    h5 {
        @include fluid-type(320px,
        1360px,
        16px,
        18px);
        @include line-height(320px,
        1360px,
        22px,
        24px);
    }
    .h6,
    h6 {
        @include fluid-type(320px,
        1360px,
        16px,
        18px);
        @include line-height(320px,
        1360px,
        22px,
        31px);
    }
    .single-blog-title {
        margin-bottom: 0;
        margin-top: 2rem;
        font-weight: 600;
    }
    .blog-date {
        margin-bottom: 8px;
        margin: 0;
        font-weight: 400;
        @include fluid-type(320px,
        1360px,
        12px,
        18px);
    }
    hr {
        margin-left: 0;
        width: 30px;
        margin: 15px 0;
        border-color: $main-color;
    }
    .wp-block-gallery {
        li {
            &:before {
                display: none;
            }
        }
    }
    .faq {
        .h3,
        h3 {
            margin-top: 0;
        }
    }
}

.single-blog-author {
    background-color: $background-grey;
    padding: 30px;
    margin-left: -3rem;
    margin-right: -3rem;
    .h4,
    h4 {
        margin-bottom: 3px;
    }
    span {
        color: $dark-opacity08;
        font-size: 12px;
    }
    p {
        margin-top: 2rem;
        @include fluid-type(320px,
        1360px,
        12px,
        14px);
        @include line-height(320px,
        1360px,
        18px,
        22px);
    }
}

.blog-author-img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-bottom: 8px;
}

.similar-blog {
    .card-blog {
        border: 1px solid $border-color;
        display: inline-block;
        position: relative;
        margin-bottom: 20px;
        transition: all .3s ease-in-out;
        &__content {
            // padding: 3.8rem 2.5rem 54px;
            padding: 2rem 4rem 50px 4rem;
        }
        .blog-date {
            @include fluid-type(320px,
            1360px,
            11px,
            14px);
            line-height: 30px;
            margin-bottom: 1.5rem;
        }
        &:hover {
            border-color: $main-color;
            transition: border .3s ease-in-out;
        }
    }
    .card-footer {
        padding: 0 4rem;
    }
    h5,
    .h5 {
        margin: 0 0 2rem 0;
        text-transform: unset;
        @include line-height(320px,
        1360px,
        26px,
        28px);
    }
    p {
        @include fluid-type(320px,
        1360px,
        12px,
        16px);
        @include line-height(320px,
        1360px,
        21px,
        25px);
    }
}


/*----------  Sidebar  ----------*/

.single-treatment,
.single-product {
    .page-footer {
        display: none;
    }
    .cta-contact {
        margin-bottom: 0;
    }
}

.sidebar-content {
    opacity: 0;
    .h5,
    h5 {
        font-weight: 400;
    }
}

.sidebar {
    height: 0;
    &.active {
        height: auto;
        .sidebar-box {
            height: 100%;
            transition: height .3s ease-in-out;
            background-color: $dark;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1000;
            padding: 50px 30px 70px;
            overflow-y: scroll;
            .sidebar-content {
                opacity: 1;
                transition: opacity .3s ease-in-out;
                transition-delay: .3s;
                margin-bottom: 90px;
            }
        }
    }
}

.sidebar-box {
    height: 70px;
    transition: height .3s ease-in-out;
    * {
        color: #fff;
    }
    strong {
        font-weight: 600;
    }
    p {
        opacity: .8;
        margin-bottom: 2rem;
        @include fluid-type(320px,
        1360px,
        12px,
        16px);
    }
    span {
        font-size: 12px;
    }
}

.sidebar-footer {
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-top: 1px solid rgba(243, 243, 243, .1);
    padding: 13px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $dark;
    .sidebar-open {
        position: relative;
        padding-right: 39px;
        font-size: 12px;
        line-height: 15px;
    }
    .btn {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .arrow-down {
        &:before,
        &:after {
            background-color: #fff;
            width: 10px;
        }
        &:before {
            right: -2px;
        }
    }
}


/*----------  TREATMENT SINGLE PAGE - sidebar doctor informations ----------*/

.sidebar-dr-info {
    padding: 0rem 0 2rem 0;
    border-bottom: 1px solid $border-color;
    margin-bottom: 2.4rem;
    display: inline-block;
    width: 100%;
    &:hover {
        .associate__profile--img {
            transform: scale(1.05);
        }
    }
    .associate__profile {
        align-items: center;
        margin-bottom: 1.2rem;
    }
    .associate__profile--img {
        width: 50px;
        margin-right: 15px;
        transform: scale(1);
        transition: all .3s ease-in-out;
        img {
            border-radius: 50%;
        }
    }
    .associate__profile--content {
        flex: 1;
        h3 {
            text-transform: none;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 5px;
        }
        p {
            font-size: 14px;
            margin-bottom: 0;
            color: #fff;
        }
    }
    .btn {
        font-size: 14px;
        margin-left: 65px;
        padding-right: 5rem;
        &:after {
            width: 2.2rem;
            height: 1.4rem;
        }
    }
}


/*=============================================
=            Contact page            =
=============================================*/

.contact-page {
    &.container {
        padding-left: 0;
        padding-right: 0;
    }
    .h1,
    h1 {
        margin-bottom: 1rem;
    }
    .contact-subtitle {
        color: $dark-opacity08;
        font-family: $title-font;
    }
}

.contact-layout {
    .contact-main {
        background-color: $background-green;
        padding: 30px 20px 40px;
        overflow: hidden;
        margin-top: 15px;
    }
    .contact-side {
        background-color: $background-grey;
        padding-top: 20px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column-reverse;
    }
}

.contact-form {
    margin-top: 23px;
}

.contact-info {
    padding: 40px 20px;
    li {
        @include fluid-type(320px,
        1360px,
        12px,
        14px);
        margin-bottom: 8px;
    }
    a {
        &:hover {
            @include hover-green;
        }
    }
}

.map-direction-wrap {
    padding: 2rem;
    p {
        color: $dark-opacity;
        font-family: $title-font;
    }
    input[type="text"],
    .btn {
        display: block;
        margin-left: auto;
    }
    input[type="text"] {
        border: 1px solid rgba(50, 50, 49, .15);
        width: 100%;
    }
    .btn {
        border: 1px solid $main-color;
        color: $main-color;
        background-color: transparent;
        padding: 1.5rem 40px 1.5rem 1.5rem;
        font-size: 12px;
        margin-top: 17px;
    }
    .button-arrow {
        position: relative;
        img {
            position: absolute;
            top: 50%;
            bottom: 50%;
            transform: translateY(-50%);
            right: 15px;
        }
    }
}

.contact-map-wrap {
    border: 1px solid rgba(50, 50, 49, .15);
    position: relative;
    min-height: 357px;
    height: 30vh;
}

.contact-map-wrap-img {
    background-image: url(img/my-esthetic-map.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#tabs {
    overflow-x: scroll;
    white-space: nowrap;
    position: relative;
    margin-bottom: 4.5rem;
    &:before {
        content: "";
        width: 150%;
        height: 1px;
        background-color: $main-color;
        opacity: .2;
        position: absolute;
        bottom: 0;
        left: -30%;
        right: -30%;
    }
    a {
        @include fluid-type(320px,
        1360px,
        12px,
        14px);
        padding: 1.6rem 0;
        margin-right: 20px;
        display: inline-block;
        color: $main-color;
        font-weight: 600;
        @include border-bottom-animation();
    }
    li {
        display: inline-block;
        padding: 0;
        margin: 0;
        &:last-child {
            a {
                margin-right: 0;
            }
        }
    }
}


/*----------  coupon page ----------*/

.coupon-layout {
    border: 1px solid $border-color;
    &.container {
        padding-left: 0;
        padding-right: 0;
    }
    .coupon-main {
        padding: 30px 20px 40px;
    }
    .coupon-side {
        background-color: $background-green;
        padding-top: 20px;
        padding-bottom: 40px;
        display: none;
    }
}

.coupon-column {
    .h1,
    h1 {
        margin-bottom: .8rem;
    }
    .coupon-subtitle {
        color: $dark-opacity;
        font-family: $title-font;
    }
    .coupon-content {
        margin-top: 18px;
        p:not(:last-child) {
            margin-bottom: 3.4rem;
        }
    }
}

.coupon-form {
    .btn {
        margin-top: 3.5rem;
        font-size: 14px;
        text-align: center;
    }
    .btn-arrow {
        padding-right: 2rem;
        &:after {
            display: none;
        }
    }
}

.coupon-flexible-section {
   
    &.section {
        padding-top: 0;
        padding-bottom: 0;
    }

    .flexible-content-wrap {
        padding-top: 45px;
        padding-bottom: 45px;
    }
   
}


/*=============================================
=            Navigation menu            =
=============================================*/

.home {
    .site-header {
        background-color: $background-orange;
        border-color: $background-orange;
        .wpml-ls-native {
            color: $dark;
        }
    }
}

.page-template-treatment-template,
.page-template-products-template,
.page-template-shop-template,
.single-product {
    .site-header {
        background-color: $background-grey;
    }
}

.page-template-contact-template,
.single-treatment,
.page-template-team-template {
    .site-header {
        background-color: $background-green;
    }
}

.cart-wrap {
    display: flex;
    align-items: center;
    .account-title {
        display: none;
    }
    .mini-cart-wrap {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .dropdown-back {
        position: relative;
        display: inline-block;
    }
    .account-icon,
    .dropdown-back {
        padding: 7px;
    }
    .basket-item-count {
        display: inline-block;
        background: $main-color;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        text-align: center;
        color: #fff;
        font-size: 9px;
        position: absolute;
        top: 0px;
        left: 14px;
        .count {
            position: absolute;
            line-height: 10px;
            top: 50%;
            bottom: 50%;
            left: 50%;
            right: 50%;
            height: auto;
            transform: translate(-50%, -50%);
            display: inline-block;
            width: 100%;
            height: 10px;
        }
    }
}

.nav-right {
    display: flex;
    align-items: center;
}

.burger {
    width: 23px;
    height: 14px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: $dark;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        &:nth-child(1) {
            top: 0px;
        }
        &:nth-child(2),
        &:nth-child(3) {
            top: 6px;
        }
        &:nth-child(4) {
            top: 12px;
        }
    }
}

.site-header {
    padding-top: 12px;
    padding-bottom: 12px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    transition: all .5s ease-in-out;
    background-color: #fff;
    .container {
        display: flex;
        align-items: flex-start;
        position: relative;
    }
    .header-wrap {
        width: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &.scrollUp {
        top: -115px;
        transition: all .5s ease-in-out;
    }
    &.prevent-scroll {
        top: 0 !important;
    }
    &.nav-white {
        background-color: #fff;
        box-shadow: 0 2px 4px 0 rgba(50, 50, 49, 0.05);
        .main-navigation a {
            transition: padding .5s ease-in-out;
        }
    }
    .mini-cart-active {
        position: fixed;
        margin-bottom: 58px;
        z-index: 1024;
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .8);
        transition: all .3s ease-in-out;
        overflow-y: scroll;
        .dropdown-menu-mini-cart {
            opacity: 1;
            z-index: 1024;
            visibility: visible;
            transition: opacity .5s ease-in-out;
            position: absolute;
            max-width: 336px;
            height: auto;
            background: white;
            top: calc(27%);
        }
        .dropdown-back {
            opacity: 0;
        }
    }
    .logo-dark {
        display: block;
        &.logo-dark {
            // height: 21px !important;
            @media screen and (min-width: 630px) {
                // height: 24px !important;
            }
        }
    }
    .logo-white {
        display: none;
    }
    .logo-white,
    .logo-dark {
        &.logo-white,
        &.logo-dark {
            // height: 21px !important;
            @media screen and (min-width: 630px) {
                // height: 24px !important;
            }
        }
    }
    .phone {
        display: none;
    }
}

.site-header.open {
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    background-color: $dark;
    transition: none;
    * {
        color: #fff;
    }
    .wpml-ls-legacy-list-horizontal .wpml-ls-item a {
        border-color: #fff !important;
    }
    .logo-dark {
        display: none;
    }
    .logo-white {
        display: block
    }
    .cart-wrap {
        display: none;
    }
    .burger {
        span {
            background-color: #fff;
            &:nth-child(1) {
                top: 6px;
                width: 0%;
                left: 50%;
            }
            &:nth-child(2) {
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            &:nth-child(3) {
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
            &:nth-child(4) {
                top: 6px;
                width: 0%;
                left: 50%;
            }
        }
    }
    .main-navigation {
        display: block;
        transition: all .3s ease-in-out;
        position: fixed;
        top: 52px;
        left: 0;
        right: 0;
        background-color: $dark;
        height: 100%;
        width: 100%;
        z-index: 999;
        padding-bottom: 132px;
        overflow-y: scroll;
        .page_item a {
            animation: opacity 2s ease-in-out;
            opacity: 1;
        }
    }
}

.site-logo {
    // width: 110px;
    display: inline-block;
}

.site-branding {
    display: flex;
    align-items: center;
}

.main-navigation {
    display: none;
    padding: 6rem 0;
    li {
        margin: 0;
        padding: 0;
        &:before {
            display: none;
        }
    }
    a {
        color: #fff;
        padding: 10px 0 10px 5.5rem;
        display: block;
        border-left: 2px solid transparent;
        font-size: 16px;
        transition: all .3s ease-in-out;
        &:hover {
            color: $main-color;
            background-color: $background-green;
            border-color: $main-color;
            transition: all .3s ease-in-out;
        }
    }
    .page_item a {
        opacity: 0;
        animation: opacity .6s ease-in-out;
    }
}


/*----------  Wpml lang  ----------*/

.wpml-ls-legacy-list-horizontal .wpml-ls-item {
    margin-bottom: 0;
    a {
        @include fluid-type(320px,
        1360px,
        12px,
        14px);
        color: rgba(50, 50, 49, .5);
        border: 1px solid rgba(50, 50, 49, .5) !important;
        padding: 5px 4px;
        font-size: 11px;
        transition: all .3s ease-in-out;
        display: inline-block;
        font-weight: 400;
        line-height: 18px;
        &:hover {
            border-color: $main-color !important;
            color: $main-color;
            animation: all .3s ease-in-out;
        }
    }
}

.wpml-ls-current-language {
    display: none !important;
}

.wpml-ls-legacy-list-horizontal {
    padding-right: 0;
}

.wpml-ls-statics-shortcode_actions,
.wpml-ls-statics-shortcode_actions .wpml-ls-sub-menu,
.wpml-ls-statics-shortcode_actions a {
    border: none;
}


/*----------  Pagination  ----------*/

.pagination,
.isotope-pagination {
    display: inline-block;
    >div {
        display: flex;
        margin-top: 7rem;
        margin-bottom: 7rem;
        background-color: $background-grey;
    }
    .page-numbers {
        @include fluid-type(320px,
        1360px,
        12px,
        18px);
        padding: 17px;
        display: inline-block;
        line-height: 18px;
        &.current {
            color: $main-color;
            border-bottom: 3px solid $main-color;
            font-weight: 600;
        }
    }
    .prev,
    .next {
        img {
            width: 19px;
        }
    }
}

.isotope-pagination {
    display: flex;
    justify-content: center;
    margin-top: 7rem;
    margin-bottom: 7rem;
    .page-numbers {
        background-color: $background-grey;
        &:hover {
            color: $main-color;
        }
    }
}


/* clear fix */

.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid {
    width: 100% !important;
}

.slide {
    height: 100%;
}


/*----------  Team   ----------*/

.team {
    padding-top: 3rem;
    padding-bottom: 7rem;
    margin-top: -8rem;
}

.team-box {
    border: 1px solid $border-color;
    margin-bottom: 20px;
    display: block;
}

.team-image {
    padding-bottom: 74.7%;
}

.team-content {
    padding: 3.8rem;
    position: relative;
    .subtitle {
        color: $grey;
        display: inline-block;
        margin-bottom: 3rem;
        @include fluid-type(320px,
        1360px,
        14px,
        16px);
    }
    .h2,
    h2 {
        margin-bottom: 0;
    }
    .btn-border {
        background-color: $main-color;
        color: #fff;
        padding: 7px 33px 7px 9px;
        margin-top: 2rem;
        font-size: 14px;
        &:after {
            width: 2.3rem;
            height: 1.4rem;
        }
    }
    .badge {
        position: absolute;
        top: -4rem;
        right: 3.8rem;
    }
    p {
        margin-bottom: 0;
    }
}

.team-content-description {
    margin-bottom: 3rem;
}

.more-text {
    display: none;
}

.more {
    .btn {
        cursor: pointer;
    }
    .read-more {
        display: block;
    }
    .read-less {
        display: none;
    }
}

.more.active {
    .read-more {
        display: none;
    }
    .read-less {
        display: block;
    }
}


/*----------  page 404  ----------*/

.page-404 {
    background-color: $background-green;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 3px solid $main-color;
}


/*----------  Star rating  ----------*/

.star-rating .star-value {
    background: url(img/star.svg);
}

// .yasr-dashicons-visitor-stats {
//     display: none;
// }
.card-product,
.card {
    .yasr-visitor-votes-after-stars-class {
        display: none;
    }
}

// .yasr-total-average-container,
// .yasr-total-average-text {
//     color: $dark-opacity;
//     font-size: 12px;
//     display: block;
//     margin-top: 3.2rem;
// }
// .yasr-small-block-bold {
//     font-weight: 600;
//     color: $dark;
//     margin-top: 9px;
// }
.card {
    // .yasr-visitor-votes {
    //     position: relative;
    //     z-index: -10;
    // }
    padding-bottom: 100px;
    .product-rating {
        width: 100%;
        margin-bottom: 8px;
        position: absolute;
        bottom: 33px;
        svg {
            width: 18px;
        }
    }
}

.card-rating {
    padding-bottom: 90px;
}

.card-star {
    position: absolute;
    top: -100%;
}


/*----------  Cookie   ----------*/

#cookie-notice {
    border-top: 1px solid rgba(50, 50, 49, .2);
    font-family: $main-font;
    span {
        @include fluid-type(320px,
        1360px,
        11px,
        18px);
        @include line-height(320px,
        1360px,
        20px,
        31px);
        color: $dark-opacity;
    }
    strong {
        font-weight: 600;
    }
    .cookie-notice-container {
        padding: 20px;
    }
    .cn-text-container {
        padding-bottom: 20px;
        text-align: left;
    }
    .cn-button {
        margin-left: 13px;
        margin-right: 13px;
    }
    #cn-accept-cookie,
    #cn-more-info.cn-more-info {
        @include fluid-type(320px,
        1360px,
        10px,
        18px);
        font-family: $main-font;
        background-image: none;
        box-shadow: none;
        text-shadow: none;
        font-weight: 500;
        border: none;
    }
    #cn-accept-cookie {
        background-color: $main-color;
        padding: 7px 12px;
        border-radius: 0;
        min-width: 160px;
    }
    #cn-more-info.cn-more-info {
        background-color: transparent;
        padding: 1.3rem 1.5rem;
        color: $main-color;
        position: relative;
        text-decoration: underline;
    }
    .cn-buttons-container {
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        align-items: center;
    }
}

#lightcase-caption {
    display: none !important;
}


/*----------  Modal box  ----------*/

.modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 1;
}

.modal-close-btn {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3.5rem;
    color: $dark-opacity;
    transform: rotate(45deg);
    cursor: pointer;
}


/*----------  wpdiskuz form stars in modal ----------*/

.modal-box {
    position: relative;
    max-width: 500px;
    width: 90%;
    background-color: #fff;
    border: 1px solid $border-color;
    padding: 4.5rem 2.8rem;
    box-shadow: -1px 2px 11px -5px rgba(0, 0, 0, 0.10);
    .h3,
    h3 {
        margin-bottom: 1.4rem;
    }
    .success-form {
        display: none;
        color: $main-color;
        font-weight: 500;
        font-size: 14px;
        margin-top: 2rem;
    }
    .wc-form-footer {
        display: block !important;
    }
    .wc-field-comment,
    .wpdiscuz-form-top-bar,
    .wc-thread-wrapper {
        display: none;
    }
    #wpcomm {
        border: none;
        padding: 0;
        margin: 0;
        .wc-form-footer {
            border: none;
            padding-bottom: 0;
        }
        .wpd-form-col-full {
            .wpd-field-group .wpd-field-group-title {
                display: none;
            }
            .wpd-field-group.wpd-field-agreement {
                .wpd-field-desc {
                    display: none;
                }
                .wpd-field-group-title {
                    display: block;
                    padding: 0;
                }
                .wpd-item {
                    .wpd-field-label {
                        width: 90%;
                        color: rgba(50, 50, 49, .5);
                        font-size: 11px;
                        a {
                            color: $main-color;
                        }
                    }
                    input[type='checkbox'] {
                        padding: 0;
                        width: 10px;
                        height: 10px;
                        top: 4px;
                    }
                }
            }
        }
        .wpd-form-row {
             ::placeholder {
                @include fluid-type(320px,
                1360px,
                12px,
                14px);
                color: rgba(50, 50, 49, .5);
            }
             :-ms-input-placeholder {
                @include fluid-type(320px,
                1360px,
                12px,
                14px);
                color: rgba(50, 50, 49, .5);
            }
             ::-ms-input-placeholder {
                @include fluid-type(320px,
                1360px,
                12px,
                14px);
                color: rgba(50, 50, 49, .5);
            }
            input[type="text"],
            input[type="email"] {
                &.wpd-field {
                    border: 1px solid $border-color;
                    @include fluid-type(320px,
                    1360px,
                    12px,
                    14px);
                    color: $dark;
                    padding: 1.4rem 2rem;
                    height: auto !important;
                    box-shadow: none;
                }
            }
        }
        .wc-field-submit {
            text-align: left;
            padding: 0;
            .wpd_label {
                display: none;
            }
        }
        input[type="submit"] {
            background-color: $main-color !important;
            color: #fff;
            border: none !important;
            padding: 1.8rem 5rem;
            margin-top: 4rem;
            &:hover {
                background-color: $main-color;
                opacity: .8;
                border: none;
            }
        }
    }
}

.wpd-custom-field .wcf-active-star {
    color: $secondary-color !important;
}


/*----------  Cross sells  ----------*/

.cart-collaterals {
    margin-top: 4rem;
}

.cross-sells {
    .similar-product {
        padding: 20px 0;
    }
    .products {
        display: flex;
        justify-content: center;
    }
    .card-product {
        padding: 10px 10px 0 10px;
        &:nth-of-type(1) {
            margin-right: 10px;
        }
        .card-product-cat {
            font-size: 10px;
            line-height: 12px;
        }
        .card-product-title {
            @include fluid-type(320px,
            1360px,
            11px,
            16px);
            line-height: 18px;
        }
        .card-footer {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            position: unset;
            margin-bottom: 0;
            margin-top: 0;
            .btn {
                font-size: 10px;
                margin-left: auto;
                margin-right: auto;
                margin: 7px 0;
                width: 50%;
            }
            .btn:not(.btn-link) {
                padding: 6px 12px !important;
                max-width: auto;
            }
        }
        .card-product-price {
            padding: 10px;
            .h3,
            h3 {
                line-height: 16px;
            }
        }
        .card .card-footer {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .cross-sells-product {
        max-width: 270px;
        .product {
            margin: 0 !important;
            width: 100% !important;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    .card-product-title {
        min-height: 55px;
    }
    .card-product-content {
        height: 15rem;
    }
}


/*=============================================
=            Woocommerce            =
=============================================*/

.dropdown-menu-mini-cart {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: -9999;
    left: 50%;
    right: 50%;
    width: 500px;
    top: 110%;
    transform: translateX(-50%);
    background-color: #fff;
    width: 94%;
    max-width: 380px;
    z-index: 1001;
    border: 1px solid $main-color;
    padding: 15px;
    li {
        margin: 0;
        padding: 0;
    }
}

.woocommerce-mini-cart-item {
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: #fff !important;
    .woocommerce-mini-cart-product-title {
        display: flex;
        flex-direction: column;
        padding-left: 13px;
    }
    &.mini_cart_item {
        background-color: #fff !important;
        padding: 15px 0;
        border-bottom: 1px solid $border-color;
        &:nth-of-type(1) {
            padding-top: 5px;
        }
    }
    .h6,
    h6 {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }
    .quantity {
        font-size: 10px;
        line-height: 14px;
        color: $grey;
        font-weight: 500;
        display: inline-block;
        border: none;
    }
    &.gift-close-hidden {
        justify-content: flex-start;
        .remove_from_cart_button {
            display: none;
        }
    }
    .variation {
        display: none;
    }
}

.woocommerce .widget_shopping_cart_content ul.woocommerce-mini-cart .woocommerce-mini-cart-item.mini_cart_item {
    padding: 15px 0;
    border-bottom: 1px solid $border-color;
    &:nth-of-type(1) {
        padding-top: 5px;
    }
}

.woocommerce-mini-cart__total {
    padding: 15px 0;
    margin-bottom: 15px;
    border-bottom: 1px solid $border-color;
    line-height: 16px;
    font-weight: 600;
    color: $dark;
    strong {
        font-weight: 400;
        color: $dark;
    }
}

.woocommerce-mini-cart-content {
    display: flex !important;
    width: calc(100% - 25px);
    .attachment-shop_thumbnail {
        width: 40px;
        height: auto;
    }
    .woocommerce-mini-cart-product-title {
        width: calc(100% - 40px);
    }
    .quantity {
        height: auto;
    }
}

.dropdown-menu-mini-cart .woocommerce-mini-cart__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    a.button {
        padding: 10px 7px;
        border: 1px solid $main-color;
        color: $main-color;
        @include fluid-type(320px,
        768px,
        11px,
        12px);
        background-color: #fff;
        width: 47%;
        text-align: center;
        line-height: 16px;
        font-weight: 400;
        &.checkout {
            background-color: $main-color;
            color: #fff;
        }
        &:hover {
            opacity: .8;
            transition: all .3s ease-in-out;
        }
    }
}

.woocommerce-mini-cart__total {
    font-size: 12px;
}

.woocommerce-mini-cart__empty-message {
    @include fluid-type(320px,
    1360px,
    12px,
    14px);
    line-height: 16px;
}

.cart-close {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 25px;
    top: 25px;
    transform: rotate(45deg);
    font-size: 45px;
    font-size: 46px;
    font-weight: 100;
    color: $grey;
    &:hover {
        background-color: transparent;
        color: $main-color;
        transition: all .3s ease-in-out;
    }
}


/*----------  Global woocommerce style  ----------*/

.woocommerce a.added_to_cart {
    display: none;
}

.woocommerce a.remove,
.woocommerce table.cart a.remove,
.remove.remove_from_cart_button {
    font-size: 46px;
    font-weight: 100;
    font-family: $main-font;
    color: transparent !important;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
}

.woocommerce a.remove,
.remove.remove_from_cart_button {
    &:before {
        content: "+";
        display: inline-block;
        color: $grey;
        font-size: 54px;
        transform: rotate(45deg);
        font-weight: 100;
        font-family: $main-font;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    &:hover {
        background: transparent;
        color: transparent;
        &:before {
            background-color: transparent;
            color: $main-color !important;
            transition: all .3s ease-in-out;
        }
    }
}

.woocommerce table.cart .variation {
    display: flex;
    align-items: center;
    dd,
    dt,
    p {
        font-size: 14px;
    }
}

.woocommerce {
    padding-top: 4rem;
    padding-bottom: 6rem;
    #respond input#submit,
    a.button,
    button.button,
    input.button {
        font-weight: 500;
        border-radius: 0;
        text-align: center;
    }
}

.woocommerce ul.cart_list li a,
.woocommerce ul.product_list_widget li a {
    font-weight: 100;
}

.woocommerce form .form-row textarea {
    height: 80px !important;
    width: 100% !important;
}


/*----------  Select 2  ----------*/

.select2-container .select2-selection--single {
    height: 100%;
    padding: 1.4rem 2rem;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: normal;
    padding-left: 0;
    text-align: left;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
}


/*----------  Cart page   ----------*/

.woocommerce {
    table.cart,
    table.shop_table,
    .checkout_coupon,
    .woocommerce-form-login,
    #customer_login,
    .woocommerce-MyAccount-content,
    .woocommerce-ResetPassword {
        .h2,
        h2 {
            @include fluid-type(320px,
            1360px,
            16px,
            24px);
            @include line-height(320px,
            1360px,
            25px,
            30px);
            margin-bottom: 1.5rem;
        }
        strong {
            font-weight: 600;
        }
        a {
            color: $main-color;
            @include fluid-type(320px,
            1360px,
            12px,
            14px);
        }
        p {
            @include fluid-type(320px,
            1360px,
            12px,
            14px);
        }
        a:hover {
            color: $main-color;
            transition: all .3s ease-in-out;
            background-color: transparent;
            opacity: .8;
            text-decoration: underline;
        }
    }
    table.shop_table {
        border: none;
        tr {
            margin-bottom: 20px;
        }
    }
    fieldset {
        @include fluid-type(320px,
        1360px,
        12px,
        16px);
        border: 1px solid $border-color;
        padding: 2.5rem;
        font-weight: 500;
        legend {
            color: $dark;
        }
    }
    table.cart {
        thead {
            background-color: $background-grey;
            th {
                padding: 3.5rem 2.5rem;
            }
        }
    }
    table.cart,
    table.shop_table {
        thead {
            background-color: $background-grey;
            th {
                border: none;
                font-weight: 600;
            }
        }
        tr,
        th {
            color: $dark;
        }
        td {
            border-top: none;
            padding: 10px 2.5rem;
        }
        .product-thumbnail {
            margin: 0 auto;
            a {
                width: 9rem;
                margin: 0 auto;
                display: block;
                img {
                    width: 100%;
                }
            }
            &:before {
                display: none;
            }
        }
        .product-remove {
            padding: 0;
            a:hover {
                text-decoration: none;
            }
            a:focus {
                background-color: transparent;
            }
            .remove {
                margin-left: auto;
            }
        }
        td.actions {
            border-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            .button {
                padding: 2rem;
            }
            .button[name=update_cart] {
                display: none;
            }
        }
    }
    .product-name {
        a {
            color: $main-color;
            text-decoration: underline;
        }
    }
    .amount {
        font-weight: 600;
    }
    .quantity {
        display: inline-block;
    }
}

.woocommerce form .form-row #createaccount span {
    @include fluid-type(320px,
    1360px,
    12px,
    14px);
}

.woocommerce table.shop_table tbody th,
.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th {
    font-weight: 600;
}

.woocommerce-cart table.cart td.actions .coupon {
    display: flex;
    .input-text {
        padding: 1.4rem 2rem;
    }
    button {
        background-color: #fff;
        border: 1px solid $main-color;
        color: $main-color;
        margin-top: 0;
    }
}

.woocommerce-checkout,
.cart_totals {
    th,
    td {
        @include fluid-type(320px,
        1360px,
        12px,
        14px);
    }
    table.shop_table thead th {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .h4,
    h4,
    .h3,
    h3 {
        margin-bottom: 2rem;
    }
    #billing_country_field,
    #shipping_country_field {
        span {
            padding: 1.4rem 2rem;
            border: 1px solid $border-color;
            width: 100%;
            display: inline-block;
            line-height: normal;
            strong {
                font-weight: 400;
            }
            @include fluid-type(320px,
            1360px,
            12px,
            14px);
            color: $dark;
        }
    }
}

.woocommerce .cart_totals table.shop_table tr {
    margin-bottom: 0;
}

.woocommerce #content table.cart .product-thumbnail,
.woocommerce table.cart .product-thumbnail,
.woocommerce-page #content table.cart .product-thumbnail,
.woocommerce-page table.cart .product-thumbnail {
    display: block;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
    padding: 1.4rem 2rem;
    background-color: $main-color;
    color: #fff;
    @include fluid-type(320px,
    1360px,
    13px,
    16px);
}

.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled] {
    padding: 2rem;
    color: #fff;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    background-color: $main-color;
    padding: 2rem;
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
    @include fluid-type(320px,
    1360px,
    13px,
    16px);
}

.woocommerce ul#shipping_method li {
    padding-left: 0;
}

.woocommerce .woocommerce-shipping-destination,
.woocommerce .woocommerce-shipping-calculator,
.woocommerce-shipping-methods li {
    font-size: 14px;
    line-height: 18px;
    color: $dark;
    font-family: $main-font;
    font-weight: 400;
}

#add_payment_method .cart-collaterals .cart_totals tr td,
#add_payment_method .cart-collaterals .cart_totals tr th,
.woocommerce-cart .cart-collaterals .cart_totals tr td,
.woocommerce-cart .cart-collaterals .cart_totals tr th,
.woocommerce-checkout .cart-collaterals .cart_totals tr td,
.woocommerce-checkout .cart-collaterals .cart_totals tr th {
    border-top: none;
}

#add_payment_method table.cart td.actions .coupon .input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text {
    border: 1px solid #E1E1E1;
    &:focus {
        border-color: $main-color;
        transition: all .3s ease-in-out;
    }
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
    background-color: $main-color;
}

.select2-container--default .select2-selection--single {
    border-color: $border-color;
}

.woocommerce table.shop_table tbody th,
.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th {
    border-top: none;
}

.woocommerce form .form-row.woocommerce-validated .select2-container,
.woocommerce form .form-row.woocommerce-validated input.input-text,
.woocommerce form .form-row.woocommerce-validated select {
    border-color: $main-color;
}

.woocommerce-form__label-for-checkbox {
    span {
        font-size: 12px;
        font-family: $main-font;
        color: $dark-opacity08;
        margin-left: 4px;
        position: relative;
        top: 1px;
    }
}

.woocommerce-shipping-fields,
.woocommerce-additional-fields {
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: 1px solid $background-green;
}

.woocommerce .woocommerce-customer-details address {
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-color: $border-color;
}

.h3,
h3#ship-to-different-address {
    margin-bottom: 0;
}

.woocommerce table.shop_table {
    border-collapse: collapse;
}

.woocommerce form .form-row {
    margin-bottom: 1.8rem;
}

#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box {
    background-color: $background-grey;
}

.woocommerce-checkout #payment {
    background-color: transparent;
}

.woocommerce-checkout #payment div.payment_box::before {
    border: 1em solid $background-grey;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}

.payment_box p {
    @include fluid-type(320px,
    1360px,
    12px,
    14px);
    line-height: 22px;
}

.woocommerce form .form-row .required {
    color: $main-color;
    font-weight: 400;
}

#add_payment_method #payment ul.payment_methods,
.woocommerce-cart #payment ul.payment_methods,
.woocommerce-checkout #payment ul.payment_methods {
    border-bottom: none;
    padding: 0;
}

#add_payment_method #payment ul.payment_methods li,
.woocommerce-cart #payment ul.payment_methods li,
.woocommerce-checkout #payment ul.payment_methods li {
    padding-left: 0;
}

.woocommerce-checkout-payment {
    margin-top: 4rem;
}

.woocommerce-terms-and-conditions-wrapper {
    .woocommerce-privacy-policy-text {
        p {
            font-size: 12px;
            line-height: 16px;
        }
        a {
            color: $main-color;
        }
    }
    margin-bottom: 5rem;
}

.checkout-order_review_wrap {
    .variation {
        display: flex;
        align-items: center;
    }
}

.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
    border-color: $border-color;
    border-radius: 0;
}

.woocommerce form.checkout_coupon {
    p {
        margin-bottom: 0;
    }
    .form-row {
        margin-top: 8px;
    }
}

.woocommerce {
    .password-message {
        font-size: 12px;
        margin-bottom: 1rem;
    }
}

.woocommerce form .show-password-input,
.woocommerce-page form .show-password-input {
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
    height: 19px;
}

.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
    background-color: $main-color;
    color: #fff;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
    @include fluid-type(320px,
    768px,
    12px,
    14px);
}

.woocommerce table.shop_table_responsive tr:nth-child(2n) td,
.woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
    background-color: transparent;
}


/*----------  My account  ----------*/

.woocommerce-MyAccount-navigation {
    margin-bottom: 30px;
    border-bottom: 1px solid $border-color;
    >ul {
        display: flex;
        overflow-y: scroll;
    }
    li {
        padding: 0;
        margin: 0;
        a {
            font-weight: 600;
            color: $dark;
            @include fluid-type(320px,
            768px,
            12px,
            14px);
            text-transform: uppercase;
            white-space: nowrap;
            padding: 1.5rem 2.5rem;
            display: block;
            margin-right: 3rem;
        }
        &.is-active {
            a {
                color: $main-color;
            }
        }
    }
}

.woocommerce-MyAccount-content {
    p em {
        font-size: 12px;
        font-style: normal;
    }
    fieldset {
        margin-top: 5rem;
    }
    th,
    td {
        font-size: 14px;
    }
    a.button {
        background-color: transparent;
        color: $main-color;
        text-decoration: underline;
    }
}

.woocommerce-EditAccountForm {
    button.button {
        margin-top: 3rem;
    }
}

.woocommerce table.my_account_orders th {
    padding: 2rem 2.5rem;
}

a.woocommerce-Addresses_edit.edit {
    font-size: 14px;
    color: $main-color;
    text-decoration: underline;
    font-weight: 400;
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.woocommerce-Addresses {
    margin-top: 3rem;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
    padding: 2rem;
    @include fluid-type(320px,
    1360px,
    12px,
    14px);
    border-top: none;
    a {
        text-decoration: underline;
    }
    p,
    li,
    a {
        color: $dark-opacity08;
        @include fluid-type(320px,
        1360px,
        12px,
        14px);
        line-height: 20px;
        font-weight: 400;
    }
    li {
        margin-bottom: 0;
    }
    a.button {
        margin-top: 0;
    }
    &:after,
    &:before {
        display: none;
    }
}

.woocommerce-info,
.woocommerce-message {
    background-color: $background-green;
}

.woocommerce-error {
    background-color: $background-orange;
    p,
    li,
    a {
        color: $dark-opacity08;
    }
}

.woocommerce-checkout {
    .woocommerce-notices-wrapper .woocommerce-message {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
    }
}

.woocommerce {
    .woocommerce-form.woocommerce-form-login {
        .form-row {
            margin-bottom: 0;
        }
    }
}

.woocommerce form .form-row.woocommerce-invalid .select2-container,
.woocommerce form .form-row.woocommerce-invalid input.input-text,
.woocommerce form .form-row.woocommerce-invalid select {
    border-color: #790000;
}

.woocommerce form .form-row.woocommerce-invalid label {
    .required {
        color: #790000;
    }
    color: #790000;
}

.woocommerce-form-coupon-toggle,
.woocommerce-form-login-toggle {
    margin-top: 1rem;
    .woocommerce-info {
        flex-direction: row;
        justify-content: center;
        color: 500;
        a,
        a:link,
        a:visited {
            text-decoration: underline;
            margin-left: 5px;
        }
    }
}

.woocommerce-form-coupon {
    .button {
        margin-top: 0;
    }
}

.woocommerce-cart {
    .woocommerce-notices-wrapper {
        .woocommerce-error {
            display: none;
        }
    }
}

.single-product {
    .woocommerce-error {
        display: none;
    }
}

.woocommerce form .form-row .input-checkbox {
    display: inline-block;
    margin: 0;
}

.woocommerce {
    .woocommerce-order {
        ul.woocommerce-order-overview {
            li {
                font-size: 12px;
                line-height: 24px;
                border-right: 1px solid $border-color;
                strong {
                    font-size: 14px;
                    line-height: 24px;
                    color: $dark;
                }
            }
        }
        .woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received {
            padding: 2rem;
            @include fluid-type(320px,
            1360px,
            12px,
            14px);
            background-color: $background-green;
            margin-bottom: 5rem;
        }
    }
    .woocommerce-order-details {
        margin: 4rem 0 8rem;
    }
    .woocommerce-column--billing-address {
        margin-bottom: 2rem;
    }
}

.xdebug-error {
    display: none;
}


/*----------  PROMO PRODUCT BOX - BLOG PAGE  ----------*/

.single-blog-content {
    .promo-product,
    .promo-treatment {
        margin-left: -35px;
        margin-right: -35px;
    }
}

.single-treatment-container {
    .promo-product,
    .promo-treatment {
        margin-left: -30px;
        margin-right: -30px;
    }
}

.promo-product,
.promo-treatment {
    padding: 30px;
    margin: 3rem -3rem;
}

.promo-product {
    .single-product-text {
        max-width: 500px;
        p {
            @include fluid-type(320px,
            1360px,
            14px,
            16px);
            @include line-height(320px,
            1360px,
            18px,
            20px);
            opacity: 0.8;
            margin-bottom: 2.5rem;
        }
    }
    .single-product-content {
        align-items: center;
        .product-rating {
            margin-top: 3px;
            vertical-align: middle;
            .star {
                width: 17px;
                height: 16px;
            }
        }
    }
    .single-product-price {
        .h6 {
            font-size: 14px;
            line-height: 19px;
            margin-bottom: 2rem;
            margin-top: 0;
            text-transform: initial;
            font-weight: 400;
            strong {
                font-size: 24px;
                line-height: 24px;
            }
        }
        .single-product-brand {
            strong {
                font-size: 14px;
                line-height: 16px;
            }
        }
    }
    .single-product-btn {
        margin-top: 0;
        text-align: center;
    }
    .btn {
        font-size: 16px;
        line-height: 28px;
    }
    .btn-full {
        width: 100%;
        text-align: center;
    }
    .btn:not(.btn-full) {
        margin: 1.5rem 0 0 0;
        padding: 1rem 5rem 1rem 2rem;
        width: auto;
        &:after {
            width: 2rem;
            height: 1.2rem;
        }
    }
    .single-product-title {
        h2 {
            text-transform: initial;
            font-family: $title-font;
            font-weight: 500;
            margin-top: 0;
            @include fluid-type(320px,
            1360px,
            24px,
            36px);
            @include line-height(320px,
            1360px,
            31px,
            44px);
            a:not(.btn) {
                color: inherit;
            }
        }
    }
    .single-product-image {
        margin-bottom: 2rem;
    }
}


/*----------  PROMO TREATMENT BOX - BLOG PAGE  ----------*/

.promo-treatment {
    &--orange {
        background-color: $background-orange;
    }
    &--green {
        background-color: $background-green;
    }
    h2 {
        margin-bottom: 1rem;
    }
    &__tagline {
        @include fluid-type(320px,
        1360px,
        14px,
        16px);
        @include line-height(320px,
        1360px,
        20px,
        25px);
        text-transform: uppercase;
        color: $grey;
        display: block;
        margin-bottom: 1rem;
    }
    .header-content {
        padding: 0;
        >p {
            color: $dark-opacity08;
            @include fluid-type(320px,
            1360px,
            12px,
            14px);
            @include line-height(320px,
            1360px,
            23px,
            25px);
            margin: 1rem 0 2rem 0;
        }
        .btn {
            font-size: 16px;
            line-height: 28px;
            margin-top: 1.5rem;
        }
        .btn:not(.btn-full) {
            width: auto;
            padding: 1rem 6rem 1rem 2rem;
            &:after {
                width: 2rem;
                height: 1.2rem;
            }
        }
        h2 {
            text-transform: initial;
            font-family: $title-font;
            font-weight: 500;
            margin-top: 0;
            @include fluid-type(320px,
            1360px,
            24px,
            36px);
            @include line-height(320px,
            1360px,
            31px,
            44px);
            a:not(.btn) {
                color: inherit;
            }
        }
        .product-rating {
            display: inline-block;
            margin-left: 1rem;
            margin-top: 0;
            .star {
                width: 17px;
                height: 16px;
            }
        }
    }
    &__buttons {
        text-align: center;
    }
    &__info {
        color: $dark-opacity;
        @include fluid-type(320px,
        1360px,
        12px,
        14px);
        margin-bottom: 1.8rem;
        display: flex;
        align-items: center;
        strong {
            margin-left: 1.2rem;
            color: $dark;
            @include fluid-type(320px,
            1360px,
            20px,
            25px);
            @include line-height(320px,
            1360px,
            29px,
            32px);
        }
        .currency {
            font-size: 14px;
        }
    }
}


/*----------  TEAM SINGLE PAGE - HEAD section ----------*/

.team-single {
    margin-bottom: -50px;
    .header-image {
        background-color: $background-grey;
        height: auto;
        min-height: auto;
        .desktop {
            display: none;
        }
        .mobile {
            img {
                width: 100%;
            }
        }
    }
    .header-content {
        top: -50px;
        padding: 20px 20px 30px 20px;
    }
    h1 {
        margin-bottom: 0;
    }
    &__tagline,
    p {
        @include fluid-type(320px,
        1360px,
        14px,
        18px);
        @include line-height(320px,
        1360px,
        27px,
        33px);
    }
    &__tagline {
        color: $grey;
        display: block;
        margin-bottom: 1rem;
        em {
            color: $secondary-color;
            font-style: unset;
            text-transform: uppercase;
            font-weight: 500;
            &::before {
                content: "";
                display: inline-block;
                width: 5px;
                height: 5px;
                margin: 4px 12px;
                background: $grey;
                border-radius: 50%;
            }
        }
    }
    .product-rating {
        margin-bottom: 2rem;
        margin-top: 0;
        .star {
            width: 20px;
            height: 20px;
        }
    }
}

.orange-header .site-header {
    background-color: $background-orange;
    &.open {
        background-color: $dark;
    }
}

// remove button "return to shop"
.wc-backward {
    display: none !important;
}